<!-- Modal delay-->
<div class="modal fade" id="addmodule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="modulename" class="navbar-form navbar-center" method='post' action="/statistics_operate/" id="modulename">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">项目所属模块选择</h4>
      </div>
      <div class="modal-body" style="height:150px">
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span4">
              <select style="margin:40px 135px;" id="modulename" name = "modulename" class="inputfield" selected="{{modulename}}">
                  <option select = 'selected' value="{{modulename}}">下拉选择所属模块</option>
                  <option>机构后台</option>
                  <option>机构前台</option>
                  <option>AS平台(AS运营类)</option>
                  <option>客户端产品</option>
                  <option>考试系统</option>
                  <option>项目组产品</option>
                  <option>内部管理</option>
                  <option>综合类</option>
                </select>
            </div>
          </div>
          <input id="bulk_sid" name="bulk_sid" type="hidden">
        </div>
      </div>
      <div class="modal-footer">
        <div align="center">
          <button id='module' type="submit" class="btn mybtn-success" >确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
