<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    
    {% block head %}{% endblock %}
    <link href="/static/css/commonhead.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <form name="form1" method="post">
  	<div class="top">
	 <ul class="top_logo">
	   <li><a href=""> </a></li>
	 </ul>
	 <ul class="top_memu">
		<li><a href="/personal_homepage/">个人主页</a></li>
		<li><a href="/projectlist/">项目管理</a></li>
		<li><a href="#" class="judge">资源管理</a></li>
	 </ul>
	 <ul class="top_bar">
		<li>
      <a href="../personal_homepage" class='username'>GUEST</a></li>
      <li><i> | </i></li>
      <li><a href="/logout/">退出</a></li>
		</ul>
	</div>
</form>
    {% block content %}{% endblock %}
    {% block footer %}
    <p class="basefooter">© 2014 Ablesky, Inc. 版权所有, 能力天空科技（北京）有限公司 </p>
    {% endblock %}

  <script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/static/js/base.js"></script>
  {% block js %}
  {% endblock %}
</body>
</html>