<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/img/favicon.ico"  type="image/x-icon">
    {% load compress %}
    {% compress css %}
    {% block head %}
    {% endblock %}
    {% endcompress %}
    {% compress css %}
    <link  href='/static/css/common.css' rel='stylesheet' media='screen'> 
    {% endcompress %}
    
  </head>
  <body>
  <nav class="top">
	 <p class="logo" id="logo">
    	<a href="#">项目管理系统</a>
	 </p>
	 <ul class="top_memu" id="test">
		<li><a href="/personal_homepage/">个人主页<i class="mesage_right" title="进行中的项目数">(0)</i></a></li>	
		<li><a href="/projectlist/">项目管理</a></li>
    	<li><a href="/slist/">项目统计</a></li>
<!-- 		<li><a href="#" class="judge">资源管理</a></li> -->
	 </ul>
	 <div class="top_bar">
	 	<a href="/personal_homepage" class='username'></a>
      	<i style="color:white"> | </i>
      	<a href="/logout/">退出</a>
      	<a class="nav-link pic notify-icon" href="/historymessage">&nbsp;<sup class="pic notify-tip" id="message-num">0</sup></a>
		<a class="clink" target="_blank" title="去Case系统~~" href="/case/"><img src="/static/img/case/favicon.ico" /></a>			  	
	 </div>
  </nav>
    {% block content %}{% endblock %}
    {% block footer %}
    <div style="width:100%">
    <p class="basefooter ">© 2014 Ablesky, Inc. 版权所有, 能力天空科技（北京）有限公司 </p>
    </div>
    {% endblock %}
  {% compress js %}
  <script type="text/javascript" src="/static/jquery/jquery-1.8.3.min.js"></script>
  <script type='text/javascript' src='/static/js/base.js'></script>
  {% endcompress %}
  {% compress js %}
  {% block js %}
  {% endblock %}
  {% endcompress %}
</body>
</html>