<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/commonhead.css" rel="stylesheet" media="screen">
    {% block head %}{% endblock %}

  </head>
  <body>
  <form name="form1" method="post">
  	<div class="top">
	 <ul class="top_logo">
	   <li><a href=""> </a></li>
	 </ul>
	 <ul class="top_memu">
		<li><a href="/personal_homepage/">个人主页</a></li>
		<li><a href="/projectlist/">项目管理</a></li>
		<li><a href="#" class="judge">资源管理</a></li>
	 </ul>
	 <ul class="top_bar">
		<li><a href="/personal_homepage/">name</a></li>
			<li><i> | </i></li>
			<li><a href="/logout/">退出</a></li>
		</ul>
	</div>
</form>
    {% block content %}{% endblock %}
    {% block footer %}
    <p>Thanks for visiting my site.</p>
    {% endblock %}
    <script type="text/javascript" src="/static/js/base.js"></script>
  </body>
</html>