<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>项目管理系统</title>

	<meta http-equiv="Content-Type" content="text/html; charset=f7f1c7" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<!-- Bootstrap -->
	<!-- border-collapse 属性设置是否将表格边框折叠为单一边框 -->
	<link href="css/bootstrap1.min.css" rel="stylesheet" media="screen">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<link href="css/my1.css" rel="stylesheet" media="screen">


</head>
<!-- <body bgcolor="yellow">-->
<body class="body_all">
	<div class="top">
		<ul class="top_logo">
			<li><a href=""> </a></li>
		</ul>
		<ul class="top_memu">
			<li><a href="">个人主页</a></li>
			<li><a href="">项目管理</a></li>
			<li><a href="">资源管理</a></li>
		</ul>
		<ul class="top_bar">
			<li><a href="">name</a></li>
			<li><i> | </i></li>
			<li><a href="">退出</a></li>
		</ul>

	</div>
	<div>
		<ol 
					class="breadcrumb" 
					style="background-color:#339966; font:bold">
			<li><a href="#"
					style="color:#faf5f5;text-decoration:none;">个人主页>></a>
					<!--<style >
					li.zhuye a {
					font-weight:bold;
					color:#0ab15e;
								}				
					</style>-->
	
				
  					<label class="active" >延期处理</label>
			</li>
				<b><a class="one" href="/index.html" style="float:right;text-decoration:none;" target="_blank" >返回上一页 </a></b>
  		</ol>

	</div>


<div>
	<h3 class="head_1">延期处理:</h3>

	
	<table class="table table-striped">
		
		
		<col width="50%" />
		<col width="25%" />
		<col width="25%" />

		<thead>
			<tr>
				<th class="thead_th">公告标题</th>
				<th class="thead_th">发布时间</th> 
				<th class="thead_th">操作</th>
			</tr>
		</thead>
		<tbody>
			
			
			<tr class="low1">
					<td class="col1">&nbsp;申请1：项目1申请延期2天，延期至2013-09-13;</td>
					<td>高子叶，2013-8-23</td>
				  	<td>
				  		<button style="margin:5px" data-toggle="botton" class="btn btn-success " type="button">批准</button>
				  	  	<button  class="btn btn-danger " type="button">拒绝</button>
				  	</td>
			</tr>
			
			<tr class="low2" >
				<td class="col1">&nbsp;申请1：项目1申请延期2天，延期至2013-09-13;</td> 
				<td>高子叶，2013-8-23</td> 
				<td>
						<button style="margin:5px" data-toggle="botton" class="btn btn-success " type="button">批准</button>
						<button  class="btn btn-danger " type="button">拒绝</button>
				</td>
			</tr>
			<tr class="low1">
				<td class="col1">&nbsp;申请2：项目2申请延期2天，延期至2013-09-13</td> 
				<td>高子叶，2013-8-23</td> 
				<td>
						<button style="margin:5px" data-toggle="botton" class="btn btn-success " type="button">批准</button>
						<button  class="btn btn-danger " type="button">拒绝</button>
				</td>
			</tr>
			<tr class="low2">
				<td class="col1">&nbsp;申请2：项目2申请延期2天，延期至2013-09-13申请2：项目2申请延期2天，延期至2013-09-13</td> 
				<td>高子叶，2013-8-23</td> 
				<td>
						<button style="margin:5px" data-toggle="botton" class="btn btn-success " type="button">批准</button>
						<button  class="btn btn-danger " type="button">拒绝</button>
				</td>
			</tr>
		</tbody>

	</table>
</div>
<div >
  <ul class="pagination pagination-right" style="float:right">
   <li class=""><a href="#">&laquo;</a></li>
   <li class=""><a href="#">1</a></li>
   <li class=""><a href="#">2</a></li>
   <li class=""><a href="#">3</a></li>
   <li class=""><a href="#">4</a></li>
   <li class=""><a href="#">5</a></li>
   <li class=""><a href="#">&raquo;</a></li>
  </ul>
 </div>
<!-- Le javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>





</body>


</html>


<!--<div>
	<p class="tip"><span>提示</span></p>
<style >
	p.tip span {
		font-weight:bold;
		color:#ff9955;
	}
</style>
</div>

<table  border="1" 
		width="98%"
		align="center">
<col width="50%" />
<col width="25%" />
<col width="25%" />

<thead align="center">
	<tr>
		<th>消息标题</th> <th>发布时间</th> <th>操作</th>
	</tr>
</thead>

<tfoot align="center">
	<tr>
		<td>sum, cell 1</td> <td>row 1, cell 2</td> <td>row 1, cell 3</td>
	</tr>
</tfoot>

<tbody align="center">
	<tr>
		<td>row 1, cell 1</td> <td>row 1, cell 2</td> <td>row 1, cell 3</td>
	</tr>
	<tr>
		<td>&nbsp;</td> <td>row 2, cell 2</td> <td>row 2, cell 3</td>
	</tr>
</tbody>
</table>-->