  {% extends "base.html" %}
  {% block title %}Q系统{% endblock %}
  {% block head %}
    <link href='/static/css/detail.css' rel='stylesheet' media='screen'>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<META http-equiv="content-type" content="text/html; charset=utf-8">
  {% endblock %}
  {% block content %}
	<div id="container" >
		<div>
			<div id="head"></div>
			<div id="bread">
				<p><a href="/projectlist">项目管理</a>&nbsp>>项目详情</p>
			</div>
			<div class="content">
				<div id="name">
					<div><h3>{{res.pro.project}}</h3></div>
					<div>{% if res.editbool %}
							<a href="/editproject/{{res.pro.id}}">编辑</a>
						 {% endif %}
					</div>
				</div>
				<table>
					<tr>
						<td class="line-name">项目类型：</td>
						<td class="line-text">{{res.pro.type_p}}运营型</td>
					</tr>
					<tr>
						<td class="line-name">优先级：</td>
						<td class="line-text">{{res.pro.priority}}</td>
					</tr>
					<tr>
						<td class="line-name">项目说明：</td>
						<td class="line-text">{{res.pro.description}}</td>
					</tr>
					<tr>	
						<td class="line-name">项目状态：</td>
						<td class="line-text">{{res.pro.status_p}}</td>
						{% if res.pro.real_launch_date %}
							<td class="line-name">实际上线时间：</td>
							<td class="line-text">{{res.pro.real_launch_date|date:"Y-m-d"}}&nbsp&nbsp
							{% if res.pro.real_launch_date > res.pro.expect_launch_date %}
								<span id="notwell"><b>踩..</b></span>
							{% else %}
								<span id="well"><b>赞！</b></span>
							{% endif %}							
						{% endif %}
						</td>
					</tr>
					<tr>
						<td class="line-name">PM：</td>
						<td class="line-text"><b>{{res.user.realname}}</b></td>
					</tr>
					<tr>
						<td class="line-name">项目开始日期：</td>
						<td class="line-text">{{res.pro.start_date|date:"Y-m-d"}}</td>
						<td class="line-name">计划上线时间：</td>
						<td class="line-text">{{res.pro.expect_launch_date|date:"Y-m-d"}}</td>
					</tr>
					<tr>
						<td class="line-name">预估时间：</td>
						<td class="line-text">产品： {{res.dt.ptime}}天    ({{res.pro.estimated_product_start_date|date:"Y-m-d"}}至{{res.pro.estimated_product_end_date|date:"Y-m-d"}})</td>
					</tr>
					<tr>
						<td class="line-name"></td>
						<td class="line-text">开发： {{res.dt.dtime}}天    ({{res.pro.estimated_develop_start_date|date:"Y-m-d"}}至{{res.pro.estimated_develop_end_date|date:"Y-m-d"}})</td>
					</tr>
					<tr>
						<td class="line-name"></td>
						<td class="line-text">测试： {{res.dt.ttime}}天    ({{res.pro.estimated_test_start_date|date:"Y-m-d"}}至{{res.pro.estimated_test_end_date|date:"Y-m-d"}})</td>
					</tr>
					<tr>
						<td class="line-name">业务人员：</td>
						<td class="line-text">{% for item in res.reuser.bm %}
                       			{% if item.id == res.pro.business_man_id %}
                       				<b>{{item.realname}}</b>&nbsp;&nbsp;
                       			{% else %}
                       				{{item.realname}}&nbsp;&nbsp;
                       			{% endif %}
                       		{% endfor %}
                       	</td> 
                       	<td class="line-name"></td>               
                       	<td class="line-text">
                       		<span style="color:{{res.confirmation.bm.0}}">{{res.confirmation.bm.1}}</span>
                       		&nbsp&nbsp&nbsp&nbsp
                       		<span style="color:{{res.confirmation.bm.2}}">{{res.confirmation.bm.3}}</span>
                       	</td>
                    </tr>
                    <tr>
						<td class="line-name">运营人员：</td>
						<td class="line-text">{% for item in res.reuser.op %}
                       			{% if item.id == res.pro.operator_p_id %}
                       				<b>{{item.realname}}</b>&nbsp;&nbsp;
                       			{% else %}
                       				{{item.realname}}&nbsp;&nbsp;
                       			{% endif %}
                       		{% endfor %}
                       	</td> 
                       	<td class="line-name"></td>               
                       	<td class="line-text">
                       		<span style="color:{{res.confirmation.op.0}}">{{res.confirmation.op.1}}</span>
                       		&nbsp&nbsp&nbsp&nbsp
                       		<span style="color:{{res.confirmation.op.2}}">{{res.confirmation.op.3}}</span>
                       	</td>
                    </tr>
                    <tr>
						<td class="line-name">客服人员：</td>
						<td class="line-text">{% for item in res.reuser.cs %}
                       			{% if item.id == res.pro.customer_service_id %}
                       				<b>{{item.realname}}</b>&nbsp;&nbsp;
                       			{% else %}
                       				{{item.realname}}&nbsp;&nbsp;
                       			{% endif %}
                       		{% endfor %}
                       	</td> 
                       	<td class="line-name"></td>               
                       	<td class="line-text">
                       		<span style="color:{{res.confirmation.cs.0}}">{{res.confirmation.cs.1}}</span>
                       		&nbsp&nbsp&nbsp&nbsp
                       		<span style="color:{{res.confirmation.cs.2}}">{{res.confirmation.cs.3}}</span>
                       	</td>
                    </tr>
				</table>
				<table>					
					<tr>
						<td class="line-name2">产品人员：</td>
						<td class="line-text2">{% for item in res.reuser.pd %}
                       			{% if item.id == res.pro.designer_p_id %}
                       				<b>{{item.realname}}</b>&nbsp;&nbsp;
                       			{% else %}
                       				{{item.realname}}&nbsp;&nbsp;
                       			{% endif %}
                       		{% endfor %}
                       	</td>
                    </tr>
					<tr>
						<td class="line-name2">开发人员：</td>
						<td class="line-text2">{% for item in res.reuser.dev %}
                       			{{item.realname}}&nbsp;&nbsp;
                       		{% endfor %}
                       	</td>	
					</tr>
					<tr>
						<td class="line-name2">测试人员：</td>
						<td class="line-text2">{% for item in res.reuser.qa %}
								{% if item.id == res.pro.tester_p_id %}
                       				<b>{{item.realname}}</b>&nbsp;&nbsp;
                       			{% else %}
                       				{{item.realname}}&nbsp;&nbsp;
                       			{% endif %}
                       		{% endfor %}
                       	</td>                       	
					</tr>
					<tr>
						<td class="line-name">设计图：</td>
						<td class="line-text">{{res.pro.blueprint_p}}</td>
					</tr>
					<tr>
						<td class="line-name">开发计划：</td>
						<td class="line-text">{{res.pro.develop_plan_p}}</td>
					</tr>
					<tr>
						<td class="line-name">测试计划：</td>
						<td class="line-text">{{res.pro.test_plan_p}}</td>
					</tr>
					<tr>
						<td class="line-name">测试用例：</td>
						<td class="line-text">{{res.pro.test_case_p}}</td>
					</tr>
					<tr>
						<td class="line-name">测试报告：</td>
						<td class="line-text">{{res.pro.test_report_p}}</td>
					</tr>
					<tr>
						<td class="line-name">统计sql：</td>
						<td class="line-text">{{res.sql}}</td>
					</tr>
					<tr>
						<td class="line-name">备注：</td>
						<td class="line-text">{{res.pro.remark_p}}</td>
					</tr>
				</table>				
				<div id="feedback" name="feedback" class="feedback-area">
					<div class="feed-background">
						<form name="feedbackForm" class="f-form" action="/feedback/" method="post" style="margin-left:150px;">	
							<div class="send_feedback">
							<textarea class="feedback" name="content" style="font-family: 'Microsoft YaHei,arial,宋体'; color: #999999; width:700px; margin-top:20px; margin-bottom:20px;" onBlur="if(this.innerHTML==''){this.innerHTML='请输入您想要反馈的问题，最多不要超过300字哟！';this.style.color='#999999'}" onFocus="if(this.innerHTML=='请输入您想要反馈的问题，最多不要超过300字哟！'){this.innerHTML='';this.style.color='#000'}">请输入您想要反馈的问题，最多不要超过300字哟！</textarea>
							<input id="pro_id" name="pid" type="hidden" value="{{res.pro.id}}"/>
							<input id="member_id" name="mid" type="hidden" value="{{res.curuid}}"/>
							<button id="sendfeedbacbtn" class="btn btn-success" style="margin-left:43px;" onclick="return feedbacktext();">提交反馈</button>									
							</div>
						</form>					
					</div>
					<div class="message-area">
						<div class="message-total">共<span>{{res.feedback.0}}</span>条</div>
						<ul>{% if res.feedback.0 > 0 %}
								{% for key, value in res.feedback.1.items %}														
									<li class="item-message" itemid="{{key.id}}">
										<div class="item-feedback">
											<span class="member-name"><b>{{key.feedback_member.realname}}：</b></span>
											{{key.content}}
											<span class="date">({{key.feedback_date|date:"Y-m-d H:i:s"}})</span>
											<a id={{key.id}} class="reply-btn" href="javascript:void(0)" hidefocus="true">回复</a>
										</div>
										<div class="item-comment">
											<div class="reply-pup" id=rp{{key.id}} style="display:none;">
												<form name="commentForm" id="form{{key.id}}" class="fc-form" action="/comment/" method="post" style="margin-left:150px;">
													<div>
														<textarea class="feedback-reply" id="comment{{key.id}}" name="comment" style="width:600px; margin-top:20px; margin-bottom:20px;"></textarea>
														<input id="pro_id" name="pid" type="hidden" value="{{res.pro.id}}"/>
														<input name="feedbackid" type="hidden" value="{{key.id}}"/>
														<input name="replymid" type="hidden" value="{{res.curuid}}"/>														
													</div>
													<div class="action-btn">									
														<button onclick="return commenttext(id);" class="btn btn-success" id=comment_{{key.id}} style="margin-left:43px;" hidefocus="true">
															回复
														</button>
														<a class="cancle-reply" id = {{key.id}} href="javascript:void(0)" hidefocus="true">
															<span>取消</span>
														</a>
													</div>																								
												</form>
											</div>
										</div>
										<div class="reply-area">									
											{% for c in value %}
												<div class="item-reply">
													<span class="member-name"><b>{{c.feedback_member_c.realname}}</b></span>
													<b style="font-weight:normal;padding:0 3px">回复：</b>
													{{c.comment}}
													<span class="date">({{c.feedback_date_c|date:"Y-m-d H:i:s"}})</span>
												</div>											
											{% endfor %}											
										</div>
									</li>
								{% endfor %}
							{% else %}
								<li class="emptyText"> 还没人反馈，来抢沙发吧！  </li>
							{% endif %}
						</ul>				
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script type="text/javascript">
		$(".reply-btn").bind("click",function(){
		 	var i = $(this).attr('id');
		 	var rpid = "#rp" + i;	 			
		 	$(rpid).attr("style","display:block");
		});
		$(".cancle-reply").click(function(){
			var i = $(this).attr('id');
		 	var rpid = "#rp" + i;		 				 			
		 	$(rpid).attr("style","display:none");
		});
		function feedbacktext(){
	        var text = document.feedbackForm.content.value;
	        if(text == "请输入您想要反馈的问题，最多不要超过300字哟！"){	        			        	
	        	$(".feedback").attr("style", "width:700px; margin-top:20px; margin-bottom:20px; background:#ffe4e1");
	          	try{alert("反馈内容不能为空！")}
	          	finally{return false;}	          		
	        }
	        else if(text.length>300){
	        	$(".feedback").attr("style", "width:700px; margin-top:20px; margin-bottom:20px; background:#ffe4e1");
	        	try{alert("反馈内容不能超过300字")}
	        	finally{return false;}
	        }
	        else{
	          $("#sendfeedbacbtn").attr("disabled","");
	          document.feedbackForm.submit();
	        } 
        }	
        function commenttext(id){    
        	var text = $("#"+id.replace("_","")).val();
	        if(!text){
	        	$(".feedback-reply").attr("style", "width:600px; margin-top:20px; margin-bottom:20px; background:#ffe4e1");
	        	try {alert("回复内容不能为空！")}	 
	        	finally{return false;}       	
	        		          
	        }
	        else if(text.length>300){
	        	$(".feedback-reply").attr("style", "width:600px; margin-top:20px; margin-bottom:20px; background:#ffe4e1");
	        	try{alert("回复内容不能超过300字")}
	        	finally{return false;}
	        }
	        else{
	          $("#"+id).attr("disabled","");
	          $("#form" + id.split("_")[1]).submit();	          
	        } 
        }						
	 </script>
{% endblock %}