  {% extends "base.html" %}
  {% block title %}Q系统{% endblock %}
  {% block head %}
	<link rel=stylesheet type="text/css" href="/static/css/detail.css" />
	<META http-equiv="content-type" content="text/html; charset=utf-8">
  {% endblock %}
  {% block content %}
	<div id="container">
		<div>
			<div id="head"></div>
			<div id="bread">
				<p><a href="/projectlist">项目管理</a>&nbsp>>项目详情</p>
			</div>
			<div class="content">
				<div id="name">
					<div><h3>{{res.pro.project}}</h3></div>
					<div><a href="/editproject/{{res.pro.id}}">&nbsp&nbsp&nbsp编辑</a></div>
				</div>
				<div class="list-name">
					<ul class="line-name">
						<li><p>优先级:</p></li>
						<li><p>项目状态:</p></li>
						<li><p>项目负责人:</p></li>
						<li><p>项目开始日期:</p></li>
						<li><p>预估时间:</p></li>
						<li><p><br/></p></li>
						<li><p><br/></p></li>
						<li><p>产品人员:</p></li>
						<li><p>开发人员:</p></li>
						<li><p>测试人员:</p></li>
						<li><p>设计图:</p></li>
						<li><p>开发计划:</p></li>
						<li><p>测试计划:</p></li>
						<li><p>测试用例:</p></li>
						<li><p>测试报告:</p></li>
					</ul>
				</div>
				<div class="list-text">
					<ul class="line-text">
						<li><p>{{res.pro.priority}}</p></li>
						<li><p>{{res.pro.status_p}}</p></li>
						<li><p>{{res.user.realname}}</p></li>
						<li>
							<span>{{res.pro.start_date|date:"Y-m-d"}}</span>
							<span class="line-name2">计划上线时间:</span>
							<span class="line-text2">{{res.pro.expect_launch_date|date:"Y-m-d"}}</span>
						</li>
						<li><p>产品: {{res.dt.ptime}}天    ({{res.pro.estimated_product_start_date|date:"Y-m-d"}}至{{res.pro.estimated_product_end_date|date:"Y-m-d"}})</p></li>
						<li><p>开发: {{res.dt.dtime}}天    ({{res.pro.estimated_develop_start_date|date:"Y-m-d"}}至{{res.pro.estimated_develop_end_date|date:"Y-m-d"}})</p></li>
						<li><p>测试: {{res.dt.ttime}}天    ({{res.pro.estimated_test_start_date|date:"Y-m-d"}}至{{res.pro.estimated_test_end_date|date:"Y-m-d"}})</p></li>
						{% if res.reuser.pd.rel %}
							<li><p>{% for item in res.reuser.pd.rel %}
                       					{% if item.id == res.pro.designer_p_id %}
                       						<b>{{item.realname}}</b>&nbsp;&nbsp;
                       					{% else %}
                       						{{item.realname}}&nbsp;&nbsp;
                       					{% endif %}
                       			{% endfor %}</p></li>
                       	{% else %}
                       		<li><p>&nbsp;</p></li>
                       	{% endif %}
						{% if res.reuser.dev.rel %}
							<li><p>{% for item in res.reuser.dev.rel %}
                       				{{item.realname}}&nbsp;&nbsp;
                       			{% endfor %}</p></li>
                       	{% else %}
                       		<li><p>&nbsp;</p></li>
                       	{% endif %}
						{% if res.reuser.qa.rel %}
							<li><p>{% for item in res.reuser.qa.rel %}
										{% if item.id == res.pro.tester_p_id %}
                       						<b>{{item.realname}}</b>&nbsp;&nbsp;
                       					{% else %}
                       						{{item.realname}}&nbsp;&nbsp;
                       					{% endif %}
                       			{% endfor %}</p></li>
                       	{% else %}
                       		<li><p>&nbsp;</p></li>
                       	{% endif %}
                       	{% if res.pro.blueprint_p %}
							<li><p>{{res.pro.blueprint_p}}</p></li>
						{% else %}
                       		<li><p>&nbsp;</p></li>
                       	{% endif %}
                       	{% if res.pro.develop_plan_p %}
							<li><p>{{res.pro.develop_plan_p}}</p></li>
						{% else %}
                       		<li><p>&nbsp;</p></li>
                       	{% endif %}
                       	{% if res.pro.test_plan_p %}
							<li><p>{{res.pro.test_plan_p}}</p></li>
						{% else %}
                       		<li><p>&nbsp;</p></li>
                       	{% endif %}
                       	{% if res.pro.test_case_p %}
							<li><p>{{res.pro.test_case_p}}</p></li>
						{% else %}
                       		<li><p>&nbsp;</p></li>
                       	{% endif %}
                       	{% if res.pro.test_report_p %}
							<li><p>{{res.pro.test_report_p}}</p></li>
						{% else %}
                       		<li><p>&nbsp;</p></li>
                       	{% endif %}	
						
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}