  {% extends "base.html" %}
  {% block title %}Q系统{% endblock %}
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/static/css/datetimepicker.css" rel="stylesheet" media="screen">
  <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <link href="/static/css/newproject.css" rel="stylesheet" media="screen">
  {% endblock %}
  {% block content %}
    <div class="container-fluid">
	    <div class="row-fluid">
		    <div class="span12" style="margin-top: -15px;margin-left: -20px;">
			     <ul class="breadcrumb">
				     <li><a href="/projectlist/" class="divider">项目管理</a><span class="divider">>></span></li>
				     {% if res.request %}
				     	<li class="active">编辑项目</li>
				     {% else %}
				     	<li class="active">新建项目</li>
				     {% endif %}
             <li class="back"><a href="javascript:history.back()">返回上一页</a></li>
			     </ul>
		    </div>
	    </div> 
	   {% if res.request %}
	   		<div class="title" style="margin-left:40px; margin-bottom:10px;">编辑项目:
      </div>
	   {% else %}
			<div class="title" style="margin-left:40px; margin-bottom:10px;">新建项目:
      </div>
	   {% endif %}
     
      <div class="row-fluid">
        <div>
          <form class="navbar-form navbar-left" action="/newproject/{{res.pro.id}}" method="post">
            {% csrf_token %}
            <div class="span6">
              <div id='short'>
              <div>
                <div class="title">
                  <label class="item-title"><span class="must">*</span>优先级：</label>
                </div>
                <input type="text" name="priority" class="form-control inputfield" placeholder="请输入1-1000的数字" maxlength=4 value="{{res.pro.priority}}" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " >
              </div>
              <div>
                <div class="title">
                <label class="item-title"><span class="must">*</span>项目名称：</label>
              </div>
                <input type="text" name="pname" class="form-control inputfield" maxlength=100 value="{{res.pro.project}}">
              </div>
              <div >
                <div class="title">
                <label class="item-title"><span class="must">*</span>项目状态：</label>
              </div>
                <select id="status" name = "status" class="inputfield" selected="{{res.pro.status_p}}">
                  <option select = 'selected'>{{res.pro.status_p}}</option>
                  <option>需求讨论中</option>
                  <option>设计中</option>
                  <option>设计完成</option>
                  <option>开发中</option>
                  <option>测试中</option>
                  <option>暂停</option>
                  <option>已上线</option>
                </select>
              </div>
              <div>
                <div class="title">
                <label class="item-title"><span class="must">*</span>项目负责人：</label>
                </div>
                <input name="leader" style="display:none;" value={{res.user.id}}>
                {% if res.pro.designer_p_id %}
                	<input name="designer" style="display:none;" value={{res.pro.designer_p_id}}>
                {% else %}
                	<input name="designer" style="display:none;" value=''>
                {% endif %} 
                {% if res.pro.tester_p_id %}
                	<input name="tester" style="display:none;" value={{res.pro.tester_p_id}}> 
                {% else %}                	
                	<input name="tester" style="display:none;" value=''>  
                {% endif %}              
                <select id="master"  class="inputfield" >
                	<option select='selected'>{{res.user.realname}}</option>
                </select>
                	
              </div>
              <div>
                <div class="title">
                    <label class="item-title">项目开始时间：</label>
                </div>
                <div class="inputfield input-append date form_datetime">
                  <input name="startdate" class="dateinput" size="16" type="text" value="{{res.pro.start_date|date:"Y-m-d"}}" readonly="">
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
              </div>
              <div>
                <div class="title">
                    <label class="item-title">计划上线时间：</label>
                </div>
                <div class="inputfield input-append date form_datetime">
                  <input name="plandate" class="dateinput" size="16" type="text" value="{{res.pro.expect_launch_date|date:"Y-m-d"}}" readonly="">
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
              </div>             
              </div>
            </div>
            <div  class="span6">
              <div>
                <div class="roles">
                  <input name="relateduser" style="display:none;">
                  <label class="item-title" style="float:left;">产品人员：</label><button type="button" class="btn btn-success" name="pro">添加</button>
                    <div class="p-list">
						{% if res.reuser.pd.rel %}
                       		{% for item in res.reuser.pd.rel %}
                       			{% if item.id == res.pro.designer_p_id %}
                       				<div class="role-item" value="{{item.id}}" type="radio"><input type="radio" name='role-pro' checked = 'checked'><span>{{item.realname}}</span><span class="close">x</span></div>
                       			{% else %}
                       				<div class="role-item" value="{{item.id}}" type="radio"><input type="radio" name='role-pro'><span>{{item.realname}}</span><span class="close">x</span></div>
                       			{% endif %}
                       		{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div  class="roles">
                  <label class="item-title" style="float:left;">开发人员：</label><button type="button" class="btn btn-success" name="dev">添加</button>
                    <div id="roles-dev" class="p-list">
                    	{% if res.reuser.dev.rel %}
                       		{% for item in res.reuser.dev.rel %}
                       			<div class="role-item" value="{{item.id}}" type="radio"><input type="radio" name='role-dev'><span>{{item.realname}}</span><span class="close">x</span></div>  
                       		{% endfor %}
                        {% endif %}
                      </div>
                    </div>
                </div>
                <div  class="roles">
                  <label class="item-title" style="float:left;">测试人员：</label><button type="button" class="btn btn-success" name="tes">添加</button>
                    <div id="testarea" class="p-list">
                       {% if res.reuser.qa.rel %}
                       		{% for item in res.reuser.qa.rel %}
                       			{% if item.id == res.pro.tester_p_id %}
                       				<div class="role-item" value="{{item.id}}" type="radio"><input type="radio" name='role-qa' checked = 'checked'><span>{{item.realname}}</span><span class="close">x</span></div>
                       			{% else %}
                       				<div class="role-item" value="{{item.id}}" type="radio"><input type="radio" name='role-qa'><span>{{item.realname}}</span><span class="close">x</span></div>
                       			{% endif %}
                       		{% endfor %}
                       {% endif %}
                    </div>
                    
                </div>
              </div>
            </div> 
            <div class="span2">
              <span style="margin-left: 38px;">预估时间：
              </span>
            </div>
            <div id="long" class="span8" style="margin-left:-22px;">
              <div class="range">
                <div><label>产品：</label><span class="days">{{res.dt.ptime}}</span>天</div>
                <span class="input-append date form_datetime">   
                  <input name='psdate' class="dateinput" size="16" type="text" value="{{res.pro.estimated_product_start_date|date:"Y-m-d"}}" readonly>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </span><span class="word">至</span>
                <span class="input-append date form_datetime">   
                  <input name='pedate' class="dateinput" size="16"  type="text" value="{{res.pro.estimated_product_end_date|date:"Y-m-d"}}" readonly>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </span>
              </div>
              <div class="range">
                <div><label>开发：</label><span class="days">{{res.dt.dtime}}</span>天</div>
                <span class="input-append date form_datetime">   
                  <input name='dsdate' class="dateinput" size="16" type="text" value="{{res.pro.estimated_develop_start_date|date:"Y-m-d"}}" readonly>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </span><span class="word">至</span>
                <span class="input-append date form_datetime">   
                  <input name='dedate' class="dateinput" size="16" type="text" value="{{res.pro.estimated_develop_end_date|date:"Y-m-d"}}" readonly>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </span>
              </div class="range">
              <div class="range">
                <div><label>测试：</label><span class="days">{{res.dt.ttime}}</span>天</div>
                <span class="input-append date form_datetime">   
                  <input name='tsdate' class="dateinput" ="16" type="text" value="{{res.pro.estimated_test_start_date|date:"Y-m-d"}}" readonly>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </span><span class="word">至</span>
                <span class="input-append date form_datetime">   
                  <input name='tedate' class="dateinput"size="16" type="text" value="{{res.pro.estimated_test_end_date|date:"Y-m-d"}}" readonly>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </span>
              </div>
            </div>
            <div id='filepath' class="span12">
              <div>
                <div><label class="item-title">设计图：</label></div><input type="text" name='ppath' maxlength=100 placeholder="请输入文件路径" value="{{res.pro.blueprint_p}}">
              </div>
              <div>
                <div><label class="item-title">开发计划：</label></div><input type="text" name='dppath' maxlength=100 placeholder="请输入文件路径" value="{{res.pro.develop_plan_p}}">
              </div>
              <div>
                <div><label class="item-title">测试计划：</label></div><input type="text" name='tppath' maxlength=100 placeholder="请输入文件路径" value="{{res.pro.test_plan_p}}">
              </div>
              <div>
                <div><label class="item-title">测试用例：</label></div><input type="text" name='tcpath' maxlength=100 placeholder="请输入文件路径" value="{{res.pro.test_case_p}}">
              </div>
              <div>
                <div><label class="item-title">测试报告：</label></div><input type="text" name="trpath" maxlength=100 placeholder="请输入文件路径" value="{{res.pro.test_report_p}}">
              </div>
            </div>
            <div class="span12">
              <div style="color:red;" id="errofield">
              {% for field in form%}    
                {{ field.errors }}          
              {% endfor %}
               </div>
              <button id="submitbutton" type="submit" class="btn btn-success" style="margin-left:43px; margin-top:50px;">提交</button>
              <button type="button" class="btn btn-default" style="margin-left:30px;margin-top:50px;" onclick="javascript:history.back()">取消</button>
            </div>
          </form>
        </div>
      </div>
    </div>
          
    <!-- Model select -->
<div class="modal fade" id="select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title" id="myModalLabel">选择人员</h4>
      </div>
      <div class="modal-body"> 
           <div><input type="text" id="skey"><button type="submit" class="btn btn-default" id="psearch">搜索</button></div>
           <input style="display:none;" name="depart" value='1'>
           <div  id="testerlist"style="border-style: solid;border-radius: 4px; border-width: 1px;border-color:#DDDDDD; height=30px"> 
             <table >
             </table>         
           </div> 
           <div>
             <div  class="all"><input type="checkbox" style="margin-top: 0px;">全选
             </div>
             <div class="pagination" style="float:right;">
                <ul >
                </ul>
             </div> 
           </div>       
      </div>
      <div class="modal-footer">
        <button type="button" id= "selectok" class="btn btn-primary" data-dismiss="modal">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->       
 {% endblock %}
 {% block js %}
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>    
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/js/newproject.js"></script>
    <script type="text/javascript" src="http://yxb.qq.com/js/jquery.cookie.js"></script>  
    <script type="text/javascript">
      $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        language:"zh-CN",
        minView:2
      });     
    </script>  
 {% endblock%}