  {% extends "base.html" %}
  {% block title %}Q系统{% endblock %}
  {% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>资源管理无权限</title>
<link rel="stylesheet" type="text/css" href="/static/css/nopermit.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  {% endblock %}
  {% block content %}
<div class="body">
<form name="noperform" class="source"  method="POST">
	<div class="choose">
		<select name="department" id="department" class="section" onchange="showuser2()" >
		{% for i in department_list %}
		    <option value="{{i.department}}">{{i.department}}</option>
		    {% endfor %}
		</select>
		
	</div>
	</form>
	<div class="people">
	{% for user in level_1_list %}
		<div class="s1">
		
		<input type="text" class="s11" placeholder="{{user.realname}}" onfocus="this.blur()">
		
		</div>
		{% endfor %}
			{% for user2 in level_2_list %}
		<div class="s2">		
	
	  <input type="text" class="s22" placeholder="{{user2.realname}}" onfocus="this.blur()">
	
		 </div>
			{% endfor %}
		{% for user3 in level_3_list %}
		<div class="s3">
		
		<input type="text" class="s33" placeholder="{{user3.realname}}" onfocus="this.blur()">		
		
		</div>
		{% endfor %}
		 </div>
		
		
	</div>
    	</form>
</div>


<script type="text/javascript">
    var s1 = document.getElementById("department");
    for(i = 0;i<=s1.length;i++){
         
        if(s1.options[i].value == '{{department}}'){
            s1.options[i].selected = true;
        }
    }
    function showuser2()
{
document.noperform.action="/show_user2/"
document.noperform.submit()
}
</script>
 {% endblock %}
