  {% extends "base.html" %}
  {% block title %}Q系统{% endblock %}
  {% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=f7f1c7" />
<meta http-equiv="Content-Language" content="zh-cn" />
<!-- Bootstrap -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="/static/css/datetimepicker.css" rel="stylesheet"
	media="screen">
<link href="/static/css/tankuang.css" rel="stylesheet" media="screen">

<style type="text/css">
<!--
.STYLE1 {
	font-size: 16px
}
-->
</style>
<!-- border-collapse 属性设置是否将表格边框折叠为单一边框 -->
<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"media="screen">
<link href="/static/css/my1.css" rel="stylesheet" media="screen">


{% endblock %}
{% block content %}


</div>
	<div>
		<ol class="breadcrumb" style="background-color:#339966; font:bold">
			<li><a href="/personal_homepage/" class="divider">个人主页>></a></li>
			<li><label class="active">项目公告</label></li>
			<li style = "float:right;margin-right:-110px"><a class="one" href="/personal_homepage/"
				style="text-decoration:none;" target="_blank">返回上一页
			</a></li>
		</ol>

	</div>


	<div>
		<h3 class="head_1">项目公告:</h3>

		<div>
			<label for="srchtxt" class="searchlabel">


				<form method="post" class="form-search" style="width:1015px;">
					{% csrf_token %} 
					<input type="text"
						class="input-medium search-query" name="wd"
						placeholder="请输入您要搜索的消息" style="color:grey">
					<button type="margin:5px;submit" class="btn btn-success">搜索</button>
					<!--
					<button data-toggle="botton" class="btn btn-danger " type="button"
						style="margin:5px;float:right ;display:inline;">清空</button>
					-->
				</form>


			</label>


		</div>
		<table class="table table-striped">


			<col width="70%" />
			<col width="15%" />
			<col width="15%" />
			

			<thead>
				<tr>
					<th class="thead_th">公告标题</th>
					<th class="thead_th">发布时间</th>
					<th class="thead_th">状态</th>
					<!--<th class="thead_th">操作</th>-->


				</tr>
			</thead>
			<tbody>
				
				{% for notice in projectobj %}
				 {% if forloop.counter|divisibleby:"20"%}
				<tr class="low1">
				{% else %}
				<tr class="low2">

					<td class="col1">&nbsp;{{notice.content}}</td>
					<td>{{notice.publication_date}}</td>
					{% if notice.delay_status %}
					<td class="states_yes">{{notice.delay_status}}</td>
					{% else %}
					<td class="states_yes"></td>
					{% endif %}

					<!--
					<td>
						<button class="btn btn-danger " type="button" data-toggle="modal"
							onclick="delete_notice({{notice.id}})">删除</button>
					</td>
					-->

				</tr>

				</tr>
				{% endif %} 
				{% endfor %}
			</tbody>

		</table>
	</div>
	<!--分页-->
    <div class="pagination" style="text-align:right;margin-right:10px">
    <span class="step-links"  >
        {% if projectobj.has_previous %}
            <a href="?page={{ projectobj.previous_page_number }}"> << </a>
        {% endif %}

        <span class="current">
            第 {{ projectobj.number }} 页共 {{ projectobj.paginator.num_pages }}页
        </span>

        {% if projectobj.has_next %}
            <a href="?page={{ projectobj.next_page_number }}"> >> </a>
        {% endif %}
    </span>
    </div>


	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="mymodal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">确认删除</h4>
				</div>
				
				<div class="modal-body">
					<form id="notice_form" action="/deletenotice/" method="post" 
					    name="test" class="navbar-form navbar-center">
						<div class="container-fluid"  > 
							<div class="row-fluid">
								<div class="span1"></div>
								<div class="span11">

									<label style="float:left"> <span class="STYLE1">确定删除选中内容吗？</span>
									</label>

								</div>
								<div class="span9">
									<input id="noticeid" name="noticeid" type="hidden">
									<!--
									<div>
										<textarea name="reason"
											style="background-color: #FFFFFF; width: 80%; height: 100px;"></textarea>
									</div>
									-->
								</div>

							</div>
						</div>
					</form>
				</div>


			</div>
			<div class="modal-footer">
				<div align="center">
					<form name="mid" method="post" action="del">
						<button type="button" class="btn mybtn-success"
							data-dismiss="modal" onclick="do_delete()" >确定</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</form>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
	<!-- Le javascript ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	
	
{% endblock %}
{% block js%}
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript">
			function delete_notice(id){
				$('#noticeid').val(id);
				$('#myModal').modal('show');
			}
			
			function do_delete(){
				$('#notice_form').submit();
			}
	</script>
{% endblock%}





