<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;height: 500px;width: 600px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="test" class="navbar-form navbar-center" action="/pchangedesign/" method='post' id="test">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">设计变更</h4>
      </div>
      <div class="modal-body">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
             <div class="title">
                <label class="item-title">
                变更内容：
                </label>
        </div>
         <div class="title">
                <label class="item-title" style="margin-top: 280px;">
                设计图地址：
                </label>
        </div>

    </div>
    <div class="span9">
     
       <div> <textarea  name="cont" type="text" class="form-control inputfield" style="width:300px; background-color: #FFFFFF; vertical-align: middle; margin-top: 8px; width: 380px;height: 300px;" maxlength="500" onchange="this.value=this.value.substring(0, 500)" onkeydown="this.value=this.value.substring(0, 500)" onkeyup="this.value=this.value.substring(0, 500)"></textarea> 
       </div>
     <div> <textarea name="dpath" type="text" class="form-control inputfield" style="width:380px; background-color: #FFFFFF; vertical-align: middle; margin-top: 0px;" maxlength="500" onchange="this.value=this.value.substring(0, 500)" onkeydown="this.value=this.value.substring(0, 500)" onkeyup="this.value=this.value.substring(0, 500)"></textarea> 
     </div>    

        <input id="changeid" name="changeid" type="hidden">
    </div>
  </div>
</div>
    </div>
      <div class="modal-footer">
        <div align="center">
          <button type="button" class="btn mybtn-success"  onclick="return chk();">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
        </div>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>   