<!-- Modal delay-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="test1" class="navbar-form navbar-center" method='post' action="/pdelayproject/" id="test1">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">申请延期</h4>
      </div>
      <div class="modal-body">
    
    <div class="container-fluid">
      <div class="row-fluid">
      <div class="span4">
           <div class="title-delay">
            <label class="item-title">
            当前计划时间：
            </label>
            </div>
             <div class="title-delay">
            <label class="item-title">
            申请延期时间：
            </label>
            </div>
             <div class="title-delay">
            <label class="item-title">
            延期理由：
            </label>
            </div>

      </div>
      <div class="span8">
       
         <div> <input id="protime" name="protime" type="text" readonly="" class="form-control inputfield"  style="width:150px; background-color: #FFFFFF;"> 
         </div>
            <div class="inputfield input-append date form_datetime">
              <input name="delay_date" class="dateinput" size="16" type="text" value="" readonly="" style="vertical-align:middle; border-right:  medium none; width: 122px; background-color: #FFFFFF;">
              <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
        <div><textarea name="delay_reason" style="background-color: #FFFFFF; width: 80%; height: 100px;" maxlength="500" onchange="this.value=this.value.substring(0, 100)" onkeydown="this.value=this.value.substring(0, 100)" onkeyup="this.value=this.value.substring(0, 100)"></textarea>
        </div>
        <input id="delayid" name="delayid" type="hidden">
      </div>
      </div>
    </div>
    
    </div>
      <div class="modal-footer">
        <div align="center">
          <button id='prodelay_p' type="button" class="btn mybtn-success" onclick="return chkdelay();">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
