
  {% extends "base.html" %}
  {% block title %}Q系统{% endblock %}
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <link href="/static/css/datetimepicker.css" rel="stylesheet" media="screen">
  <link href="/static/css/tankuang.css" rel="stylesheet" media="screen">
  <link href="/static/css/homepage.css" rel="stylesheet" media="screen">
  {% endblock %}
  {% block content %}
  <body id="mybody">

  <!-- Button trigger modal -->   
   
  {% if messages %}
  
   {% if count = 1 %}
	<div style="height:120px; padding-left: 10px; padding-top: 10px;" class="notice">
   {% endif %}   
   {% if count = 2 %}
	<div style="height:120px; padding-left: 10px; padding-top: 10px;" class="notice">
   {% endif %} 
   {% if count = 3 %}
	<div style="height:120px; padding-left: 10px; padding-top: 10px;" class="notice">
   {% endif %} 
   
    {% if count >= 4 %}
	<div style="height:140px; padding-left: 10px; padding-top: 10px;" class="notice" >
   {% endif %} 
   
		<div class="notice_title">
			<span>
				<b>消息提醒<span style="color:#ffa03e">({{count}}):</span></b>
			</span>
		</div>
			
	 <div style="width:850px" class="notice_content">		

 
     {% for item in messages %}
       
        <p><a href="/historymessage/" target="_blank" style="text-overflow: ellipsis;display: inline-block;overflow: hidden;white-space: nowrap;width: 800px;">{{item.content}}</a></p>
    
      {% endfor %}
   		
		 </div>								
		<div style="position:absolute;right:10px;bottom:0">
			<a href="/historymessage/" style="color:#339666">查看历史记录</a>
		</div>		
	</div>	
  {% else %}
  <div style="height:25px; padding-left: 10px; padding-top: 10px;" class="notice">
  <div class="notice_title">
			<span>
				<b>消息提醒<span style="color:#ffa03e">(0):</span></b>
			</span>
		</div>
		
    <p>暂无消息</p>
   </div>	
  {% endif %}
 
   {% if j = 1 %}
    <div style="padding:50px 0 15px">
    <a href="/delay/" style="color:#339666" target="_blank">查看您要处理的延期申请>></a>
    </div>  
   {% endif %}
  
  
  <div style="width:100%; height:25px;margin-bottom: 10px;margin-top: 10px;">
    <div style="float:left;">
    <b>我参与的项目:</b>
    <input type="radio" class="btn btn-default" id="smalltable" name="changet">小鸟依人版
    <input type="radio" class="btn btn-default" id="bigtable" name="changet" checked="checked">大气版 
    {% if perms.project.can_change_project%}
    <p>我有<p>
    {% endif %}
    </div>
  </div>

<div id="x-table2">
    <div style="margin:3px 0px">
      <div style=""class="tabbable">
      <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs" style="display:block;background-color:#339966"> 
            <li class="active"><a href="#tab1" data-toggle="tab" style="color:#000" id="inpro">进行中的项目</a></li>
            <li><a href="#tab2" data-toggle="tab" style="color:#000" id="finishedpro">已完结的项目</a></li>
          </ul> 
          <div class="tab-content" style="padding:0px">
            <div class="tab-pane active" id="tab1">              
              <table id="customers">
                <thead>
                  {% if not result %}
                      <p style="text-align:center;">暂无相关项目</p>
                  {% else %}
                <tr>
                  <th style="width:50px;">优先级</th>
                  <th style="width:137px;">项目名称</th>
                  <th style="width:76px">项目负责人</th>
                  <th style="width:69px">产品负责人</th>
                  <th style="width:70px">测试负责人</th>
                  <th style="width:184px">项目成员</th>
                  <th style="width:82px">项目开始时间</th>
                  <th style="width:82px">计划上线时间</th>
                  <th style="width:82px">实际上线时间</th>
                  <th style="width:82px">项目状态</th>
                  <th style="width:170px">操作</th>
                </tr>
              </thead>
              <tbody id="group_one">
                {% for res in result %}                                          
                  <tr class="basecolor">                    
                    <td>{{res.priority}}</td>
                    <td><a href="{% url 'prodetail' res.id %}">{{res.project}}</a>
                    <td>{{res.leader_p.realname}}</td>
                    <td>{{res.designer_p.realname}}</td>
                    <td>{{res.tester_p.realname}}</td>
                    <td>                                                                
                    
                    {% for u in puser %}
                    {% ifequal res.id u.project_id %}                                                        
                    {{u.username.realname}}&nbsp;
                    {% endifequal %}
                    {% endfor %}                  

                    </td>
                    <td>{{res.start_date|date:"Y-m-d" }}</td>
                    <td >{{res.expect_launch_date|date:"Y-m-d"}}</td>
                    <td>{{res.real_launch_date|date:"Y-m-d"}}</td>
                    <td>{{res.status_p}}</td> 
                    <input name="datetime" value="{{res.expect_launch_date|date:"Y-m-d"}}" type="hidden">    
                  <td>
                     {% if c = 1 %}                           
                      <a onclick="change_p({{res.id}})">设计变更</a>&nbsp;
                      {% else %}
                      {% endif %}
                       
                      {% if d = 1 %}
                      {% if userid1 = res.leader_p_id or userid1 = res.designer_p_id or userid1 = res.tester_p_id %}
                      <a href="{% url 'editproject' res.id %}" target="_blank">编辑</a>&nbsp;
                      {%endif%}
                      {% else %}                      
                      {% endif %}
                      
                      {% if m = 1 %}
                      {% ifequal userid1 res.leader_p_id %}
                      <a onclick="delay_p({{res.id}},{{res.expect_launch_date|date:"Ymd"}})" class="chomdelay">延期</a>&nbsp;
                      {%endifequal%}
                      {% else %}                     
                      {% endif %}
                      
                      {% if n = 1 %}
                      <a href="{% url 'project_pause' res.id %}" onclick="return confirm('你确定要暂停项目吗?')">暂停</a>&nbsp;
                      {% else %}                      
                      {% endif %}
                       
                      {% if k = 1 %}
                      <a href="{% url 'project_delete' res.id %}" onclick="return confirm('你确认要删除吗?')">删除</a>&nbsp;
                      {% else %}                      
                      {% endif %}

                      {%if c = 0 and d = 0 and m = 0 and k = 0 %}
                      <a href="{% url 'prodetail' res.id %}">查看详情</a>
                      {% endif %}

                      {% if userid1 != res.leader_p_id and userid1 != res.designer_p_id and userid1 != res.tester_p_id%}
                      <a href="{% url 'prodetail' res.id %}">查看详情</a>
                      {%endif%}
              
                  </td>
                  {% endfor %}
                  {% endif %} 
                </tr>
                
              </tbody>
              </table>
              <p> </p>
            </div>
               
            <div class="tab-pane" id="tab2">
              <table id="customers">
                <thead>
                  {% if not projectobj %}
                      <p style="text-align:center;">暂无相关项目</p>
                  {% else %}
                <tr>
                  <th style="width:50px;">优先级</th>
                  <th style="width:137px;">项目名称</th>
                  <th style="width:76px">项目负责人</th>
                  <th style="width:69px">产品负责人</th>
                  <th style="width:70px">测试负责人</th>
                  <th style="width:184px">项目成员</th>
                  <th style="width:82px">项目开始时间</th>
                  <th style="width:82px">计划上线时间</th>
                  <th style="width:82px">实际上线时间</th>
                  <th style="width:82px">项目状态</th>
                  <th style="width:170px">操作</th>
                </tr>
              </thead>

              <tbody id="group_one">
                {% for pres in projectobj %}                                          
                  <tr>                    
                    <td>{{pres.priority}}</td>
                    <td><a href="{% url 'prodetail' pres.id %}">{{pres.project}}</a>
                    <td>{{pres.leader_p.realname}}</td>
                    <td>{{pres.designer_p.realname}}</td>
                    <td>{{pres.tester_p.realname}}</td>
                    <td>                                                                
                    
                    {% for us in puser %}
                    {% ifequal pres.id us.project_id %}                                                        
                    {{us.username.realname}}&nbsp;
                    {% endifequal %}
                    {% endfor %}                  

                    </td>
                    <td>{{pres.start_date|date:"Y-m-d" }}</td>
                    <td>{{pres.expect_launch_date|date:"Y-m-d"}}</td>
                    <td>{{pres.real_launch_date|date:"Y-m-d"}}</td>
                    <td>{{pres.status_p}}</td>     
                  <td>
                    <a href="{% url 'prodetail' pres.id %}">查看详情</a>
                  </td>
                  {% endfor %}
                  {% endif %} 
                </tr>
                
              </tbody>
              </table>
              <p> </p>
            </div>  
        </div>
      </div>
    </div>
  </div>

  <!--分页-->
    <div class="pagination" style="text-align:right;margin-right:10px" id="mypage">
    <span class="step-links"  >
        {% if projectobj.has_previous %}
            <a href="#tab2?page={{ projectobj.previous_page_number }}"> << </a>
        {% endif %}

        <span class="current">
            第 {{ projectobj.number }} 页共 {{ projectobj.paginator.num_pages }}页
        </span>

        {% if projectobj.has_next %}
            <a href="#tab2?page={{ projectobj.next_page_number }}"> >> </a>
        {% endif %}
    </span>
    </div>

 {% include "pauseproject.html" %}
 {% include "changedesign.html" %}


</body>      
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>    
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/js/home_page.js"></script>         
{% endblock %}
