{% extends "base.html" %}
{% load staticfiles %}
{% block title %}项目管理系统{% endblock %}
{% block head %}
    <!-- Bootstrap -->
    <!-- border-collapse 属性设置是否将表格边框折叠为单一边框 -->
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
    <link  href="{% static 'css/projectlist.min.css' %}" rel='stylesheet' media='screen'>   
{% endblock %}
{% block content %}
<body id="mybody">
  {% if notices %}
  {% if count = 1 or count = 2 or count = 3 %}
    <div class="notice notice_123">
    {% endif %}   
    {% if count = 4 %}
    <div class="notice notice_4">
    {% endif %} 
    {% if count >= 5 %}
    <div class="notice notice_excess">
    {% endif %}
    <div class="notice_title">
      <span><b>项目公告<span style="color:#ffa03e">({{count}}):</span></b></span>
    </div>
        <div class="notice_content">
      {% for item in notices %}
      <p><a href="/notice/" class='nitice_content_c'>{{item.content}}</a></p>
      {% endfor %}
    </div>
        {% if count > 5 %}
    <div class="notice_content_excess">
      <a href="/notice/" style="color:#339666" >查看所有<span style="color:#ffa03e">>></span></a>
        </div>
    {% endif %}
    </div>
    {% else %}
    <div class="notice notice_content_less">
      <div class="notice_title">
        <span><b>项目公告<span style="color:#ffa03e">(0):</span></b></span>
          </div>
      <p >暂无公告</p>
    </div>  
    {% endif %}    
    <form action="/projectlist/" id="searchform" method="post">
        {% csrf_token %}
    <div class="block-option">
        <div class="option-left">
            <div class="option-item">
                    <div class="title">
                    <label class="item-title">类型：</label>
                  </div>
                   {#  <input type="text" class="form-control" style="position:relative;top: -15px;" name="id" value="{{project_id}}"> #}
                  <select  style="position:relative;top: -15px;width:165px;" name="type_p" id="protype" >
                      <option select="selected" value="{{ type_p }}">{{ type_p }}</option>
                      <option value=""> </option>
                      <option value="产品">产品</option>
                      <option value="业务">业务</option>
                      <option value="战略">战略</option>
                  </select>

            </div>
            <div class="option-item" >
              <div class="title">
                <label class="item-title">状态：</label>
              </div>
                <select  style="position:relative;top: -15px;width:165px;" name="status_p" id="prostatus" >
                  <option select="selected" value="{{ status_p }}">{{ status_p }}</option>
                  <option value=""> </option>
                  <option value="需求讨论中">需求讨论中</option>
                  <option value="设计中">设计中</option>
                  <option value="设计完成">设计完成</option>
                  <option value="开发中">开发中</option>
                  <option value="测试中">测试中</option>
                  <option value="暂停">暂停</option>
                  <option value="已上线">已上线</option>
                  <option value="运营推广">运营推广</option>
                </select>
            </div>
        </div>
        <div class="option-right">
            <div class="option-item">
                    <div class="title">
                    <label class="item-title">编号：</label>
                  </div>
                    <input type="text" class="form-control" style="position:relative;top: -15px;" name="id" value="{{project_id}}">
            </div>

            <div class="option-item-middle">
                    <div class="title">
                    <label class="item-title">名称：</label>
                  </div>
                    <input type="text" class="form-control" style="position:relative;top: -15px;" name="project" value="{{project_name}}">
            </div>

            <div class="option-item-middle">
                     <div class="title">
                    <label class="item-title">成员：</label>

           </div>
                <input type="text" class="form-control " style="position:relative;top: -15px;" name="leader_p" value="{{ leader_p }}"/>
            </div>

            <div class="option-item-right-short">
                  <div class="title">
                    <label class="item-title">检索：</label>
                  </div>
                <div style="display: inline-block;">
                    <div style="position:relative;top:-15px;">
                        <span class="input-append date form_datetime">
                          <input class="start_date_s" size="16" type="text" value="{{start_date_s|date:"Y-m-d"|default:""}}" name="start_date_s" readonly="" style="background-color: #FFFFFF">
                          <span class="add-on"><i class="icon-calendar"></i></span>
                        </span>至
                        <span class="input-append date form_datetime">
                          <input class="end_date_s" size="16" type="text" value="{{end_date_s|date:"Y-m-d"|default:""}}" name="end_date_s" readonly="" style="background-color: #FFFFFF">
                          <span class="add-on"><i class="icon-calendar"></i></span>
                        </span>
                    </div>
               
                </div>
            </div>
            <button style="margin-left:5px; margin-top:10px;" class="btn btn-primary" type="button" onclick="searchform.submit()">搜索</button>
            <button style="margin-left:5px; margin-top:10px;" class="btn btn-primary" type="button" onclick="javascript:window.location.href='/newproject/'">创建项目</button>
        </div>
    </div>
    </form>
    <div class="option" ></div>
    <div style="width:100%; height:25px;margin-bottom: 10px;margin-top: 10px;">
      <div style="float:left;width:100%;" >
        <b>版面切换:</b>
        <input type="radio" class="btn btn-default" id="smalltable" name="changet">小鸟依人版
        <input type="radio" class="btn btn-default" id="bigtable" name="changet" checked="checked">大气版 
        <span style="margin-left:8px">(注：项目所处状态的负责人为绿色加粗字体)</span>
        <span style="margin-left:40px;"><a href="/slist/" style="color:red">点击这里，可以查看项目使用量统计哦~</a></span>
      </div>
    </div>
    <div id="x-table2">
        <div style="margin:3px 0px">
            <div style=""class="tabbable">

                <div class="tab-content" style="padding:0px">
                    <div class="tab-pane active" id="tab1">
                        <table  id="customers" class="basetitle">
                            <thead>
                            <tr>
                                <th style="width:25px;">编号</th>
                                <th style="width:186px;">项目名称</th>
                                <th style="width:25px;">类型</th>
                                <th style="width:30px;" title="优先级">PRI</th>
                                <th style="width:43px">业务</th>
                                <th style="width:43px">产品</th>
                                <th style="width:43px">PM</th>
                                <th style="width:43px">测试</th>
                                <th style="width:43px">运营</th>
                                <th style="width:43px">客服</th>
                                <th style="width:155px">项目成员</th>
                                <th style="width:78px">项目开始</th>
                                <th style="width:78px">计划上线</th>
                                <th style="width:78px">实际上线</th>
                                <th style="width:70px">项目状态</th>
                                <th style="width:155px">操作</th>
                            </tr>
                            </thead>
                            <tbody id="group_one" class="procolor">
                                {% for p in projectobj %}
                                {% for i,j in rendering.items %}
                                {% if i == p.id %}
                                <tr class="basecolor" {{j.1}}>
                                    <td>{{ p.id}}</td>
                                    <td>
                                        <!--a href="{% url 'prodetail' p.id %}">{{ p.project }}</a-->
                                        <!--a href="javascript:update({{ p.id }})"><input id="praise-add" type="image" src="../static/img/praise.png" style="height: 16px;width: 16px; margin-bottom:5px"><span>{{ p.praise_p }}</span></a-->
                                        <div class="pro-proname">
                                            <a href="{% url 'prodetail' p.id %}"style="overflow:hidden;text-overflow: ellipsis">{{ p.project }}</a>
                                        </div>
                                        <div style="width:54px;float:right">
                                            <div style="width:16px;float:left">
{#                                          <input class="praise-add" type="image" data-id="{{ p.id }}" src="../static/img/praise.png" style="height: 16px;width: 16px; margin-bottom:5px">#}
                                             <i class="icon-fire"  data-id="{{ p.id }}" style="cursor:pointer;height: 16px;width: 13px; margin-bottom:5px"></i>
                                                                    
                                                {% for c in fproject %}
                                                {% if c.project_id == p.id %}
                                                    <a href="/sdetail/?page=1&module_p=&kw={{p.project}}"><span class="p-count" style="color:#339966">({{ c.total }})</span></a>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div>
                                        {% for c in pcount %}
                                          {% if c.project_id == p.id %}
                                            <p class="p-count" style="color:#339966; display: none">{{c.item}}：&nbsp{{ c.total }}</p>
                                          {% endif %}
                                         {% endfor %}     
                                        </div>
                                    </td>
                                    <td>{{ p.type_p}}</td>
                                    <td>{{ p.priority }}</td>
                                    <td {{j.2}}>{{ p.business_man.realname}}</td>
                                    <td {{j.3}}>{{ p.designer_p.realname}}</td>
                                    <td {{j.4}}>{{ p.leader_p.realname}}</td>
                                    <td {{j.5}}>{{ p.tester_p.realname}}</td>
                                    <td {{j.6}}>{{ p.operator_p.realname}}</td>
                                    <td {{j.7}}>{{ p.customer_service.realname }}</td>
                                    <td>                            
                                    {{j.0}}                           
                                    </td>
                                    <td>{{ p.start_date|date:"Y-m-d" }}</td>
                                    <td>{{ p.expect_launch_date|date:"Y-m-d" }}</td>
                                    <td>{{ p.real_launch_date|date:"Y-m-d" }}</td>
                                    <td>{{ p.status_p }}</td>
                                    <input name="datetime" value="{{p.expect_launch_date|date:"Y-m-d"}}" type="hidden">
                                    <td>
                                        {% if p.status_p == "暂停" and deletetag == 1 %}
                                                <a class="icon-trash" href="{% url 'pproject_delete' p.id %}" title="删除" onclick="return confirm('你确认要删除吗?')"><span> </span></a>
                                        {% endif %}
                                        {% if p.status_p == "运营推广" or p.status_p == "暂停"%}
                                            {% if createtag == 1 %}
                                                <a href="{% url 'similarpro' p.id  1 %}" class = 'pic copypro' title='发布相似'></a>
                                        {% else %}
                                        {% endif %}                               

                                        {% else %}
                                            {% if p.status_p == "已上线" %}
                                                {% if edittag == 1 %}
                                                {% if user_id == p.business_man.id or user_id == p.operator_p.id or user_id == p.customer_service.id or auth_changetag == 1%}
                                                <a class="icon-edit" href="{% url 'editproject' p.id %}" title="编辑"> <span> </span></a>
                                                {% else %}
                                                {% endif %}
                                                {% else %}
                                                {% endif %}
                                            {% else %}

                                                {% if changetag == 1 %}
                                                    <a onclick="change_p({{p.id}})">设计变更</a><span> </span>
                                                {% else %}
                                                {% endif %}
                                                {% if edittag == 1 %}
                                                {% if user_id == p.leader_p_id or user_id == p.designer_p.id or user_id == p.tester_p.id or user_id == p.business_man.id or user_id == p.operator_p.id or user_id == p.customer_service.id or auth_changetag == 1%}
                                                    <a class="icon-edit" href="{% url 'editproject' p.id %}" title="编辑"> <span> </span></a>
                                                {% endif %}
                                                {% else %}
                                                {% endif %}
                                                {% if delaytag == 1 %}
                                                {% ifequal user_id p.leader_p_id  %}
                                                    <a onclick="delay_p({{p.id}},{{ p.expect_launch_date|date:"Ymd" }})"class="chomdelay">延期<span> </span></a>
                                                {% endifequal %}
                                                {% else %}
                                                {% endif %}
                                                {% if deletetag == 1 or auth_changetag == 1%}
                                                    <a class="icon-pause" href="{% url 'pproject_pause' p.id %}" title="暂停" onclick="return confirm('你确定要暂停项目吗?')"> <span> </span></a>
                                                    <a class="icon-trash" href="{% url 'pproject_delete' p.id %}" title="删除" onclick="return confirm('你确认要删除吗?')"><span> </span></a>
                                                {% else %}
                                                {% endif %}
                                                {% if createtag == 1 %}
                                                    <a href="{% url 'similarpro' p.id  1 %}" class = 'pic copypro' title='发布相似'></a>
                                                {% else %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                         <a href="{% url 'feedback' p.id %}">去反馈</a>
                                    </td>
                                    {% endif %}                    
                                    {% endfor %}
                                   {% endfor %}
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分页-->
    <div class="pagination" style="text-align:center;margin-right:10px">
    <span class="step-links"  >
        {% if projectobj.has_previous %}
            <a href="?page={{ projectobj.previous_page_number }}&type_p={{ type_p }}&id={{ project_id }}&project={{ project_name }}&start_date_s={{start_date_s|date:"Y-m-d"}}&end_date_s={{ end_date_s|date:"Y-m-d" }}&status_p={{ status_p }}&leader_p={{ leader_p }}"> << </a>
        {% endif %}

        <span class="current">
            第 {{ projectobj.number }} 页，  共 {{ projectobj.paginator.num_pages }}页
        </span>

        {% if projectobj.has_next %}
            <a href="?page={{ projectobj.next_page_number }}&type_p={{ type_p }}&id={{ project_id }}&project={{ project_name }}&start_date_s={{ start_date_s|date:"Y-m-d" }}&end_date_s={{ end_date_s|date:"Y-m-d"}}&status_p={{ status_p }}&leader_p={{ leader_p }}"> >> </a>
        {% endif %}
    </span>
    </div>

 {% include "pdelayproject.html" %}
 {% include "pchangedesign.html" %}
<!-- Le javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script type='text/javascript' src='/static/js/projectlist.js'></script>
{% endblock %}
