{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目管理系统</title>
    <!-- Bootstrap -->
    <!-- border-collapse 属性设置是否将表格边框折叠为单一边框 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/projectlist.css' %}" rel="stylesheet" media="screen">
</head>

<body id="x-table">
    <div class="top">
        <ul class="top_logo">
            <li><a href=""> </a></li>
        </ul>
        <ul class="top_memu">
            <li><a href="">个人主页</a></li>
            <li><a href="">项目管理</a></li>
            <li><a href="">资源管理</a></li>
        </ul>
        <ul class="top_bar">
            <li><a href="">name</a></li>
            <li><i> | </i></li>
            <li><a href="">退出</a></li>
        </ul>
    </div>
    
    
	

	{% if notices %}
	
	<div class="notice">
		<div class="notice_title">
			<span>
				<b>项目公告<span style="color:#ffa03e">({{count}}):</span></b>
			</span>
		</div>
		<div class="notice_content">
		
		{% for item in notices %}
      
        <p><a href="">{{item.content}}</a></p>
    
        {% endfor %}
			
		</div>
		
		<div style="position:absolute;right:10px;bottom:0">
			<a href="" style="color:#339666">未读公告<span style="color:#ffa03e">({{a}})>></span></a>
		</div>	
 
	</div>	
	{% else %}
  
     <div style="height:25px;width:100%;margin:auto;border:#ff9933 solid thin;background-color:#ffffdd;position:relative;margin-top:18px;">
   <div class="notice_title">
			<span>
				<b>消息提醒<span style="color:#ffa03e">(0):</span></b>
			</span>
		</div>
		
    <p>暂无公告。。。。。。 </p>
   </div>	

    {% endif %}

	
	
    
    <form action="/projectlist/" id="searchform" method="post">
        {% csrf_token %}
    <div class="block-option">
        <div class="option-left">
            <div class="option-item">
                    <div class="title">
                    <label class="item-title">项目名称：</label>
                  </div>
                    <input type="text" class="form-control" style="position:relative;top: -15px;" name="project" value="{{project_name}}">

            </div>
            <div class="option-item" >
                    <div class="title">
                <label class="item-title">项目状态：</label>
              </div>
                <select style="position:relative;top: -15px;" name="status_p" value="">
                  <option select="selected" value="">{{status_p}}</option>
                  <option value="需求讨论中">需求讨论中</option>
                  <option value="设计中">设计中</option>
                  <option value="设计完成">设计完成</option>
                  <option value="开发中">开发中</option>
                </select>
              </div>
        </div>
        <div class="option-right">

            <div class="option-item-right">
                  <div class="title">
                    <label class="item-title">时间检索：</label>
                  </div>
                <div style="display: inline-block;">
                    <div style="position:relative;top:-15px;">
                        <span class="input-append date form_datetime">
                          <input class="start_date_s" size="16" type="text" value="{{start_date_s}}" name="start_date_s" readonly>
                          <span class="add-on"><i class="icon-calendar"></i></span>
                        </span>至
                        <span class="input-append date form_datetime">
                          <input class="end_date_s" size="16" type="text" value="{{end_date_s}}" name="end_date_s" readonly>
                          <span class="add-on"><i class="icon-calendar"></i></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="option-item-right-short">
                <div class="title">
                    <label class="item-title">项目成员：</label>
                </div>
                <input type="text" class="form-control " style="position:relative;top: -15px;" name="leader_p"/>

            </div>
            <div>
            <button style="margin-left:5px; margin-top:5px;" class="btn btn-primary" type="button" onclick="searchform.submit()">搜索</button>
            <button style="margin-left:5px; margin-top:5px;" class="btn btn-primary" type="button" onclick="javascript:window.location.href='/newproject/'">创建项目</button>
            </div>
        </div>
    </div>
    </form>
    <div class="option" ></div>
    <div id="x-table2">
        <div style="margin:3px 0px">
            <div style=""class="tabbable">

                <div class="tab-content" style="padding:0px">
                    <div class="tab-pane active" id="tab1">
                        <table  id="customers">
                            <thead>

                                <tr>
                                    <th width="64" style="width:50px;">优先级</th>
                                    <th width="151" style="width:137px;">项目名称</th>
                                    <th width="90" style="width:76px">项目负责人</th>
                                    <th width="83" style="width:69px">产品负责人</th>
                                    <th width="84" style="width:70px">测试负责人</th>
                                    <th width="148" style="width:134px">项目成员</th>
                                    <th width="96" style="width:82px">项目开始时间</th>
                                    <th width="96" style="width:82px">计划上线时间</th>
                                    <th width="96" style="width:82px">实际上线时间</th>
                                    <th width="90" style="width:76px">项目状态</th>
                                    <th width="389" style="width:236px">操作</th>
                                </tr>

                            <thead>
                            <tbody id="group_one">
                                {% for p in projectobj %}
                                <tr>
                                    <td>{{ p.priority }}</td>
                                    <td><a href="/">{{ p.project }}</a></td>
                                    <td>{{ p.leader_p.realname}}</td>
                                    <td>{{p.designer_p.realname}}</td>
                                    <td>{{p.tester_p.realname}}</td>
                                    <td>
                                    {% for u in puser%}
                                    {% ifequal p.id u.project_id %}
                                    {{u.username.realname}}&nbsp
                                    {%endifequal%}
                                    {%endfor%}
                                    </td>
                                    <td>{{ p.start_date }}</td>
                                    <td>{{ p.expect_launch_date }}</td>
                                    <td>{{ p.real_launch_date }}</td>
                                    <td>{{ p.status_p }}</td>
                                    <td>
                                        <a onclick="change_p({{p.id}})">设计变更</a><span>|</span>
                                        <a href="">编辑<span>|</span></a>
                                        <a onclick="delay_p({{p.id}})">延期<span>|</span></a>
                                        <a href="{% url 'project_pause' p.id %}" onclick="return confirm('你确定要暂停项目吗?')">暂停<span>|</span></a>
                                        <a href="{% url 'project_delete' p.id %}" onclick="return confirm('你确认要删除吗?')">删除<span></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分页-->
    <div class="pagination">
    <span class="step-links">
        {% if projectobj.has_previous %}
            <a href="?page={{ projectobj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ projectobj.number }} of {{ projectobj.paginator.num_pages }}.
        </span>

        {% if projectobj.has_next %}
            <a href="?page={{ projectobj.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>

<!-- Le javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="../static/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../static/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../static/js/pm.js"></script>
<script type="text/javascript">
      $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        language:"zh-CN",
        minView:2
      });
</script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>
