{% extends "base.html" %}
{% load staticfiles %}

<!DOCTYPE html>

{% block title %}Q系统{% endblock %}
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>项目管理系统</title>
    <!-- Bootstrap -->
    <!-- border-collapse 属性设置是否将表格边框折叠为单一边框 -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet" media="screen">

    <link href="/static/css/tankuang.css" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/projectlist.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
<body id="x-table">


    
	{% if notices %}
	
   {% if count = 1 %}
	<div style="height:25px" class="notice">
   {% endif %}   
   {% if count = 2 %}
	<div style="height:80px" class="notice">
   {% endif %} 
   {% if count = 3 %}
	<div style="height:100px" class="notice">
   {% endif %} 
    {% if count = 4 %}
	<div style="height:115px" class="notice">
   {% endif %} 
    {% if count >= 5 %}
	<div class="notice">
   {% endif %} 

		<div class="notice_title">
			<span>
				<b>项目公告<span style="color:#ffa03e">({{count}}):</span></b>
			</span>
		</div>
		<div style="width:860px" class="notice_content">
		
		{% for item in notices %}
      
        <p><a href="/notice/" target="_blank">{{item.content}}</a></p>
    
        {% endfor %}
			
		</div>
		{% if count > 5 %}
		<div style="position:absolute;right:10px;bottom:0">
			<a href="/notice/" style="color:#339666" target="_blank">未读公告<span style="color:#ffa03e">({{a}})>></span></a>
		</div>	
         {% endif %} 
	</div>	
	{% else %}
  
     <div style="height:25px" class="notice">
   <div class="notice_title">
			<span>
				<b>消息提醒<span style="color:#ffa03e">(0):</span></b>
			</span>
		</div>
		
    <p>暂无公告</p>
   </div>	

    {% endif %}
	
	
    
    <form action="/projectlist/" id="searchform" method="post">
        {% csrf_token %}
    <div class="block-option">
        <div class="option-left">
            <div class="option-item">
                    <div class="title">
                    <label class="item-title">项目名称：</label>
                  </div>
                    <input type="text" class="form-control" style="position:relative;top: -15px;" name="project" value="{{project_name}}">

            </div>
            <div class="option-item" >
                    <div class="title">
                <label class="item-title">项目状态：</label>
              </div>
                <select style="position:relative;top: -15px;" name="status_p" value="">
                  <option select="selected" value="">{{status_p}}</option>
                  <option value="需求讨论中">需求讨论中</option>
                  <option value="设计中">设计中</option>
                  <option value="设计完成">设计完成</option>
                  <option value="开发中">开发中</option>
                  <option value="测试中">测试中</option>
                  <option value="暂停">暂停</option>
                  <option value="已上线">已上线</option>
                </select>
              </div>
        </div>
        <div class="option-right">

            <div class="option-item-right">
                  <div class="title">
                    <label class="item-title">时间检索：</label>
                  </div>
                <div style="display: inline-block;">
                    <div style="position:relative;top:-15px;">
                        <span class="input-append date form_datetime">
                          <input class="start_date_s" size="16" type="text" value="{{start_date_s|default:""}}" name="start_date_s" readonly>
                          <span class="add-on"><i class="icon-calendar"></i></span>
                        </span>至
                        <span class="input-append date form_datetime">
                          <input class="end_date_s" size="16" type="text" value="{{end_date_s|date:"Y-m-d"|default:""}}" name="end_date_s" readonly>
                          <span class="add-on"><i class="icon-calendar"></i></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="option-item-right-short">
                <div class="title">
                    <label class="item-title">项目成员：</label>
                </div>
                <input type="text" class="form-control " style="position:relative;top: -15px;" name="leader_p"/>

            </div>
            <div>
            <button style="margin-left:5px; margin-top:5px;" class="btn btn-primary" type="button" onclick="searchform.submit()">搜索</button>
            <button style="margin-left:5px; margin-top:5px;" class="btn btn-primary" type="button" onclick="javascript:window.location.href='/newproject/'">创建项目</button>
            </div>
        </div>
    </div>
    </form>
    <div class="option" ></div>
    <div id="x-table2">
        <div style="margin:3px 0px">
            <div style=""class="tabbable">

                <div class="tab-content" style="padding:0px">
                    <div class="tab-pane active" id="tab1">
                        <table  id="customers">
                            <thead>

                                <tr>
                                    <th width="64" style="width:50px;">优先级</th>
                                    <th width="151" style="width:137px;">项目名称</th>
                                    <th width="90" style="width:76px">项目负责人</th>
                                    <th width="83" style="width:69px">产品负责人</th>
                                    <th width="84" style="width:70px">测试负责人</th>
                                    <th width="148" style="width:134px">项目成员</th>
                                    <th width="96" style="width:82px">项目开始时间</th>
                                    <th width="96" style="width:82px">计划上线时间</th>
                                    <th width="96" style="width:82px">实际上线时间</th>
                                    <th width="90" style="width:76px">项目状态</th>
                                    <th width="389" style="width:236px">操作</th>
                                </tr>

                            <thead>
                            <tbody id="group_one">
                                {% for p in projectobj %}
                                <tr>
                                    <td>{{ p.priority }}</td>
                                    <td><a href="{% url 'prodetail' p.id %}">{{ p.project }}</a></td>
                                    <td>{{ p.leader_p.realname}}</td>
                                    <td>{{p.designer_p.realname}}</td>
                                    <td>{{p.tester_p.realname}}</td>
                                    <td>
                                    {% for u in puser%}
                                    {% ifequal p.id u.project_id %}
                                    {{u.username.realname}}&nbsp
                                    {%endifequal%}
                                    {%endfor%}
                                    </td>
                                    <td>{{ p.start_date|date:"Y-m-d" }}</td>
                                    <td>{{ p.expect_launch_date|date:"Y-m-d" }}</td>
                                    <td>{{ p.real_launch_date|date:"Y-m-d" }}</td>
                                    <td>{{ p.status_p }}</td>
                                    <td>
                                        <a onclick="change_p({{p.id}})">设计变更</a><span>|</span>
                                        <a href="{% url 'editproject' p.id %}">编辑<span>|</span></a>
                                        <a onclick="delay_p({{p.id}},{{p.expect_launch_date|date:"Ymd"}})">延期<span>|</span></a>
                                        <a href="{% url 'pproject_pause' p.id %}" onclick="return confirm('你确定要暂停项目吗?')">暂停<span>|</span></a>
                                        <a href="{% url 'pproject_delete' p.id %}" onclick="return confirm('你确认要删除吗?')">删除<span></span></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分页-->
    <div class="pagination" style="text-align:right;margin-right:150px">
    <span class="step-links"  >
        {% if projectobj.has_previous %}
            <a href="?page={{ projectobj.previous_page_number }}"> << </a>
        {% endif %}

        <span class="current">
            第 {{ projectobj.number }} 页共 {{ projectobj.paginator.num_pages }}页
        </span>

        {% if projectobj.has_next %}
            <a href="?page={{ projectobj.next_page_number }}"> >> </a>
        {% endif %}
    </span>
    </div>

      <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="test" class="navbar-form navbar-center" action="/pchangedesign/" method='post'>
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">设计变更</h4>
      </div>
      <div class="modal-body">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
             <div class="title">
                <label class="item-title">
                变更内容：
                </label>
        </div>
         <div class="title">
                <label class="item-title">
                设计图地址：
                </label>
        </div>
    </div>
    <div class="span9">

       <div> <input name="content" type="text" class="form-control inputfield" style="width:300px; background-color: #FFFFFF; vertical-align: middle; margin-top: 8px;" >
       </div>
     <div> <input name="dpath" type="text" class="form-control inputfield" style="width:300px; background-color: #FFFFFF; vertical-align: middle; margin-top: 10px;" >
     </div>
     <input id="changeid" name="changeid" type="hidden">
    </div>
  </div>
</div>
    </div>
      <div class="modal-footer">
        <div align="center">
          <button type="submit" class="btn mybtn-success" >确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
        </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>




  <!-- Modal delay-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="test" class="navbar-form navbar-center" method='post' action="/pdelayproject/">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">申请延期</h4>
      </div>
      <div class="modal-body">

    <div class="container-fluid">
      <div class="row-fluid">
      <div class="span4">
           <div class="title">
            <label class="item-title">
            当前计划时间：
            </label>
            </div>
             <div class="title">
            <label class="item-title">
            申请延期时间：
            </label>
            </div>
             <div class="title">
            <label class="item-title">
            延期理由：
            </label>
            </div>

      </div>
      <div class="span8">

         <div> <input id="protime" name="protime" type="text" readonly="" class="form-control inputfield"  style="width:150px; background-color: #FFFFFF;">
         </div>
            <div class="inputfield input-append date form_datetime">
              <input name="delay_date" class="dateinput" size="16" type="text" value="" readonly="" style="vertical-align:middle; border-right:  medium none; width: 122px; background-color: #FFFFFF;">
              <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
        <div><textarea name="delay_reason" style="background-color: #FFFFFF; width: 80%; height: 100px;"></textarea>
        </div>
        <input id="delayid" name="delayid" type="hidden">
      </div>
      </div>
    </div>

    </div>
      <div class="modal-footer">
        <div align="center">
          <button type="submit" class="btn mybtn-success" >确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


  <!-- Modal pause-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">确认延期</h4>
      </div>
      <div class="modal-body">
           <div class="container-fluid">
  <div class="row-fluid">
    <div class="span1">
    </div>
    <div class="span11">

                <label style="float:left">
                <span class="STYLE1">确定暂停已选中的项目吗？暂停后项目移至已完结项目中</span>                </label>

    </div>

    </div>
  </div>
</div>


    </div>
      <div class="modal-footer">
        <div align="center">
          <button type="button" class="btn mybtn-success" data-dismiss="modal">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div>

 <!-- Modal delete-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="post">
        {% csrf_token %}
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">确认删除</h4>
      </div>
      <div class="modal-body">
           <div class="container-fluid">
  <div class="row-fluid">
    <div class="span1">
    </div>
    <div class="span11">

                <label style="float:left">
                <span class="STYLE1">确定删除选中内容吗？</span></label>

    </div>

    </div>
  </div>
</div>


    </div>
      <div class="modal-footer">
        <div align="center">
          <button type="button" class="btn mybtn-success" data-dismiss="modal">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
      <input type="hidden" name='id' id='delete_student_id'/>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div>
<!-- Le javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="../static/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../static/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../static/js/pm.js"></script>
<script type="text/javascript" src="/static/js/home_page.js"></script>
<script type="text/javascript">
      $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        language:"zh-CN",
        minView:2
      });
    function change_p(id){
        $('#changeid').val(id);
        $('#myModal').modal('show');
      }

    function delay_p(id,time){
        $('#delayid').val(id);
        $('#protime').val(time);
        $('#myModal1').modal('show');
      }
</script>
<script src="../static/js/bootstrap.js"></script>
{% endblock %}

