<html lang="en">
<head>
<meta charset="utf-8">
<title >Q系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=f7f1c7" />
    <meta http-equiv="Content-Language" content="zh-cn" />
	<link rel="icon" href="/static/img/favicon.ico"  type="image/x-icon">
	<link href='/static/css/register.min.css?v=20150306' rel='stylesheet' media='screen'>
    <script language="javascript" type="text/javascript" src="../static/js/register.min.js">
    </script>
</head>
<body style="margin:0px;">
	<div class="backgroud">
		<div align="center" class="top" >
   			<div align="center">
   				<ul class="top_logo">
                    <li class="logo" id="logo"></li>
                    <li><a>项目管理系统</a></li>
                </ul>
			</div>
			<form action="" method="post" onsubmit="return checkRegistMsg()">{% csrf_token %}
		 		<div class="backgroud_white" align="center" style="overflow:hidden">
		     		<table style="width:72%; height: 240px; margin-left: 60px; margin-top: 30px; margin-bottom: 30px">
	                	<tr>
	                 		<td class="table" style="font-family: Verdana,Microsoft YaHei ,宋体;">
	                    		 用户注册
	                    	</td>
	                 		<td class="table">
	                     	</td>
	                 		<td class="table">
	                     	</td>
	             		<tr>
	                 		<td class="table">
	                 			{% if info.username %}
		                     		<input id="Text_nameid" name="username" type="text" value="{{info.username}}" onblur="Validation();" style="background-color: #eee" readonly/><span id="nameIdErrorMsg" style="color: red"></span>
		                     		<div style="color:red;">
		                     		{{ error}}
		                     	    </div>
		                     	{% else %}
		                     		<input id="Text_nameid" name="username" type="text" placeholder="请输入您的帐号" onblur="Validation();"/><span id="nameIdErrorMsg" style="color: red"></span>
		                     		<div style="color:red;">
		                     		{{ error}}
		                     	    </div>
		                   		{% endif %}
	                     	</td>
	                 		<td class="table">
	                     	</td>
	                 		<td class="table">
	                     	</td>
	             		</tr>
	             		<tr>
	                 		<td class="table">
	                    		<input id="Text_name" name="realname" type="text" placeholder="请输入您的中文真实姓名" onblur="Validation();"/><span id="nameErrorMsg" style="color: red"></span>
	                    	</td>
	                 		<td class="table">
	                     	</td>
	                 		<td class="table">
	                     	</td>
	             		</tr>
	             		<tr>
	             			{% if info.password %}
		                 		<td class="table">
		                     		<input id="Text_password" name="password" type="password" value="{{info.password}}" onblur="Validation();" style="background-color: #eee" readonly/><span id="pwdErrorMsg" style="color: red"></span>
		                     	</td>
		                 		<td class="table">
		                     	</td>
		                 		<td class="table">
		                     	</td>
	                     	{% else %}
		                     	<td class="table">
		                     		<input id="Text_password" name="password" type="password" placeholder="请输入您的密码" onblur="Validation();"/><span id="pwdErrorMsg" style="color: red"></span>
		                     	</td>
		                 		<td class="table">
		                     	</td>
		                 		<td class="table">
		                     	</td>
		                    {% endif %}
	             		</tr>
	             		<tr>
	             			{% if info.password %}
		                 		<td class="table">
		                     		<input id="Text_repeatpassword" name="confirmpassword" type="password" value="{{info.password}}"  onblur="Validation();" style="width:266px;height: 29px; background-color: #eee" readonly/><span id="repeatpwdErrorMsg" style="color: red"></span>
		                     	</td>
		                 		<td class="table">
		                     	</td>
		                 		<td class="table">
		                     	</td>
		                     {% else %}
		                     	<td class="table">
		                     		<input id="Text_repeatpassword" name="confirmpassword" type="password" placeholder="请再次输入您的密码"  onblur="Validation();" style="width:266px;height: 29px; "/><span id="repeatpwdErrorMsg" style="color: red"></span>
		                     	</td>
		                 		<td class="table">
		                     	</td>
		                 		<td class="table">
		                     	</td>
		                     {% endif %}
	             		</tr>
	             		<tr>
	                 		<td class="table">
	                 			<select id="Select_part" name="departmentid">
		                   			<option style="color: #C0C0C0" value="">请选择您所在的部门</option>
		                         	{% for l in list %}  
		                         		{%if l.department != 'blank' %}
										<option style="color: #000000" value={{ l.id }}>{{ l.department }}</option>
										{%endif %}
									{% endfor %}
	                     		</select>
	                     		<span id="departmentidErrorMsg" style="color: red"></span>	                     		
	                     	</td>
	                 		<td class="table">
	                     	</td>
	                 		<td class="table">
	                     	</td>
	             		</tr>
	         		</table>
	        		<input id="Button_register" type="submit" value="注  册" 
	            		style="color: #FFFFFF; background-color: #5CB85C; width: 104px; margin-left: 10px; height: 37px; border-width: 0; font-weight:bolder; cursor:pointer;"/> &nbsp &nbsp &nbsp <a style="font-size:12px;font-family: Verdana,Microsoft YaHei ,宋体; ">已有帐号？马上</a><a href="/login/" style="color:#5CB85C; font-size:12px;font-family: Verdana,Microsoft YaHei ,宋体; cursor:pointer;">登录>></a>
				</div><p style="font-size: 14px; margin-top: 125px;font-family: Verdana,Microsoft YaHei ,宋体;">© 2014 Ablesky, Inc. 版权所有, 能力天空科技（北京）有限公司 </p>
       	 	</form>
       	 </div>
	</div>
</body>
