<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Q系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="/static/css/nopermitsourcemaind.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">


<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/jquery/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="/static/js/source.js" charset="UTF-8"></script>
</head>

<body>
<div class="top">
		<ul class="top_logo">
			<li><a href=""> </a></li>
		</ul>
		<ul class="top_memu">
			<li><a href="">个人主页</a></li>
			<li><a href="">项目管理</a></li>
			<li><a href="">资源管理</a></li>
		</ul>
		<ul class="top_bar">
			<li><a href="">name</a></li>
			<li><i> | </i></li>
			<li><a href="">退出</a></li>
		</ul>
	</div> 
<div class="body">
	<form name="form" method="post">
	   <div class="choose">
		  <select name="department" id="department" class="section" onchange="showuser()" >
		  <option value="请选择">请选择</option>
		  {% for department in department_list %}
		  <option value="{{department.department}}" >{{department.department}}</option>
		   {% endfor %}
		  </select>
		  
		<button type="button" class="btn-section">新建部门</button>
		<button type="button" class="btn-edit" >编辑</button>
	</div>
	
	<div class="people">
	   <div class="def1">
		 <select name="level_1a" class="section1" id="sec1"  >
		 <option value="请选择">请选择</option>
		 {% for level_1 in level_list %}
		 <option value="{{level_1.realname}}" {% if level_1 == level %} selected {% endif %} >{{level_1.realname}}</option>
		 {% endfor %}
		 </select>	
		 	
		<button type="button" class="addsub" id="add1a" > </button>
		<button type="button" class="minsub" id="min1"  onclick="del_logic()"> </button>
		<button type="button" class="delsub" id="del1"  onclick="del()"> </button>
		</div>
		
		<div class="def2">
		   <select name="level_2a" class="section2" id="sec2" onchange="insert2()">
			  <option value="请选择">请选择</option>
					{% for level_1 in level_list %}
		    		<option value="{{level_1.realname}}">{{level_1.realname}}</option>
		   			{% endfor %}
			</select>	

			<button type="button" class="addsub" id="add2a" > </button>
			<button type="button" class="minsub" id="min2"  onclick="del_logic2a()"> </button>
			<button type="button" class="delsub" id="del1" onclick="del2()"> </button>
		
		</div>
	
	  <div class="def3">
		<select name="level_3a" class="section3" id="sec3" onchange="insert3()">
			<option value="请选择">请选择</option>
				{% for level_1 in level_list %}
		    <option value="{{level_1.realname}}">{{level_1.realname}}</option>
		    	{% endfor %}
		</select>		
		<button type="button" class="addsub" id="add3a" > </button>
		<button type="button" class="minsub" id="min3" onclick="del_logic3a()"> </button>
		<button type="button" class="delsub" id="del1" onclick="del3()"> </button>
		
      </div>
      
	  <div class="s1">
	  {% if level_1_list %}
		{% for level in level_1_list %}
		<select name="level_1" class="section1" id="sec1" >
		<option value="请选择">请选择</option>
		{% for level_1 in level_list %}
		    <option value="{{level_1.realname}}" {% if level_1 == level %} selected {% endif %} >{{level_1.realname}}</option>
		    {% endfor %}
		</select>		
		<button type="button" class="addsub" id="add1" > </button>
		<button type="button" class="minsub" id="min1"  onclick="del_logic()"> </button>
		<button type="button" class="delsub" id="del1"  onclick="del()" > </button>
		{% endfor %}
	  {% else %}
	  		<select name="level_1" class="section1" id="sec1"  onchange="insert1()"  >
		<option value="请选择">请选择</option>
		{% for level_1 in level_list %}
		    <option value="{{level_1.realname}}">{{level_1.realname}}</option>
		    {% endfor %}
		</select>
		<button type="button" class="addsub" id="add1" > </button>
		<button type="button" class="minsub" id="min1"  onclick="del_logic()" > </button>
		<button type="button" class="delsub" id="del1"  onclick="del()" > </button>
		{% endif %}
		</div>
	
		{% for level_2 in level_2_list %}
		 	<div class="s2">
				<select name="level_2" class="section2" id="sec2"  onchange="insert2()" >
				<option value="请选择">请选择</option>
					{% for level_1 in level_list %}
		    		<option value="{{level_1.realname}}" {% if level_1 == level_2 %} selected {% endif %}>{{level_1.realname}}</option>
		   			{% endfor %}
				</select>	

				<button type="button" class="addsub ad2" id="add2" > </button>
				<button type="button" class="minsub" id="min2" onclick="del_logic2()"> </button>
				<button type="button" class="delsub" id="del1" onclick="del2()"> </button>
				
		 	</div>
		 	{% endfor %}
		 	
	
	    {% for level_3 in level_3_list %}
			<div class="s3">
				<select name="level_3" class="section3" id="sec3"  onchange="insert3()" >
				<option value="请选择">请选择</option>
					{% for level_1 in level_list %}
		    		<option value="{{level_1.realname}}" {% if level_1 == level_3 %} selected {% endif %}>{{level_1.realname}}</option>
		    		{% endfor %}
	
				</select>		
				<button type="button" class="addsub ad3" id="add3"  > </button>
				<button type="button" class="minsub" id="min3"  onclick="del_logic3()"> </button>
				<button type="button" class="delsub" id="del1"  onclick="del3()"> </button>
		
			</div>
			{% endfor %}
			</div>
			</form>
		</div>
<script type="text/javascript">
    var s1 = document.getElementById("department");
    var s2 = document.getElementById("level_2");
    for(i = 0;i<=s1.length;i++){
         
        if(s1.options[i].value == '{{department}}'){
            s1.options[i].selected = true;
        }
    }

  //显示选择的部门的人员 
   function showuser()
{
document.form.action="/show_user/"
document.form.submit()
}

//增加人员
function insert1()
{
document.form.action="/Insert_user1/"
document.form.submit()
}
function insert2()
{
document.form.action="/Insert_user2/"
document.form.submit()
}
 
function insert3()
{
document.form.action="/Insert_user3/"
document.form.submit()
}

//逻辑删除人
function del_logic()
{
var l1= document.getElementsByName("level_1")[0];
if(l1.value == '请选择'){
alert('请选择要求删除的人员'); 
}
else{
document.form.action="/delet_userlogic/";
document.form.submit();
}
}

function del_logic2()
{
document.form.action="/delet_userlogic2/"
document.form.submit()
}

function del_logic3()
{
document.form.action="/delet_userlogic3/"
document.form.submit()
}

function del_logic2a()
{
var l1= document.getElementsByName("level_2a")[0];
if(l1.value == '请选择'){
alert('请选择要求删除的人员'); 
}
else{
document.form.action="/delet_userlogic2/"
document.form.submit()
}
}

function del_logic3a()
{
var l1= document.getElementsByName("level_3a")[0];
if(l1.value == '请选择'){
alert('请选择要求删除的人员'); 
}
else{
document.form.action="/delet_userlogic3/"
document.form.submit()
}
}
//物理删除人员
function del()
{
if (!confirm("确认要删除？")) { 
            window.event.returnValue = false; 
        } 
else{
document.form.action="/delete_user1/"
document.form.submit()
}
}

function del2()
{
  if (!confirm("确认要删除？")) { 
            window.event.returnValue = false; 
        } 
else{
document.form.action="/delete_user2/"
document.form.submit()
}
} 

function del3()
{
if (!confirm("确认要删除？")) { 
            window.event.returnValue = false; 
        } 
else{
document.form.action="/delete_user3/"
document.form.submit()
}
}

</script>


</body>
</html>