  {% extends "base.html" %}
  {% block title %}Q系统{% endblock %}
  {% block head %}
<meta http-equiv="Content-Type" content="text/html;" />
<!-- <meta http-equiv="Content-Type" content="text/html; charset=f7f1c7" /> -->
<meta http-equiv="Content-Language" content="zh-cn" />
<!-- Bootstrap -->
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
	media="screen">
<!--
<link href="/static/css/datetimepicker.css" rel="stylesheet"
	media="screen">
-->
<link href='/static/css/common.min.css?v=20150106' rel='stylesheet' media='screen'>
<style type="text/css">
<!--
.STYLE1 {
	font-size: 16px
}
-->
</style>
<!-- border-collapse 属性设置是否将表格边框折叠为单一边框 -->
<!--
<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"media="screen">
-->
<link href="/static/css/message.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
</div>
	<div>
		<ol class="breadcrumb" style="background-color:#339966; font:bold">
			<li><a href="/projectlist/" class="divider">项目管理>></a></li>
			<li><label class="active">项目使用量统计</label></li>
			<li style = "float:right;margin-right:-110px"><a class="divider" href="javascript:window.history.back()" target="_self">返回上一页
			</a></li> 
		</ol>
	</div>
	<div>
		<h3 class="head_1">项目使用量统计:</h3>
		<div>
			<label for="srchtxt" class="searchlabel">
				<form method="post" class="form-search" style="width:1015px;">
					{% csrf_token %} 
					 <div class="sselect">
					 	<div>
					 		<select name="module_p" id="protype">
					 			<option select = 'selected' value="{{ module_p }}">{{ module_p }}</option>
					 			<option>需求讨论中</option>
					 			<option>设计中</option>
					 			<option>设计完成</option>
                                <option>开发中</option>
                                <option>测试中</option>
                                <option>暂停</option>
                                <option>已上线</option>
                                <option>运营推广</option>
					 		</select>
					 	</div>
				    </div>
					<div class="ssearch">
						<input type="text" class="input-medium search-query" name="kw" value="{{kw}}"
						placeholder="请输入项目名称" style="color:grey;position:relative;">
					<button type="submit" class="btn btn-success">搜索</button></div>
					<!--
					<button data-toggle="botton" class="btn btn-danger " type="button"
						style="margin:5px;float:right ;display:inline;">清空</button>
					-->
				</form>
			</label>
		</div>
		<div style="margin-top:68px;">
			<table class="table">
			<col width="10%" />
			<col width="30%" />
			<col width="28%" />
			<col width="22%" />
			<col width="10%" />
			<thead>
				<tr>  
					<th class="thead_th">项目编号</th>
					<th class="thead_th">项目名称</th>
					<th class="thead_th">统计数据</th>
					<th class="thead_th">项目所属模块</th>
					<th class="thead_th">操作</th>
					<!--<th class="thead_th">操作</th>-->
				</tr>
			</thead>
			<tbody>
			    {% if not projectobj %}
			    <tr>
			    	<td><p style="text-align:center;">暂无相关项目</p></td>
			    </tr>
                 {% else %}
                 {% for p in projectobj %}	
				 {% if forloop.counter|divisibleby:'2' %}
				 <tr class="low1">
				 {% else %}
				 <tr class="low2">
				 {% endif %}
					<td>
						<label class="checkbox inline"><input type="checkbox" value="{{p.id}}" name="chk_list"> {{p.id}}</label>
					</td>
					<td>
						<a href="{% url 'prodetail' p.id %}">{{p.project}}</a>
					</td>
					{% for c in dic_list %}
					{% if c.id == p.id %}
					<td>
						<span class="flip" value="{{p.id}}"></span>						
						<span>{{ c.total}}</span>
					</td>
					<td>
					{{c.module}}
					</td>
					<td class="states_yes">
					{% if c.module %}
					<button class="btn btn-warning " data-toggle="modal" type="button" onclick="s_operate({{p.id}})">编辑</button>
					{% else %}
					<button class="btn btn-warning " data-toggle="modal" type="button" onclick="s_operate({{p.id}})">添加</button>
					{% endif %}
				    </td>
				    {% endif %}
					{% endfor %}
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
	<div>
	<div class="scheck_m">
		<label class="checkbox inline" ><input type="checkbox" id="chk_all" name="chk_all">全选</label>
		<label class="checkbox inline" ><a id="bulk_add" class="bulk">批量选择所属模块</a></label>
		
		</div>
	<!--分页-->
    <div class="pagination page">
    <span class="step-links"  >
        {% if projectobj.has_previous %}
            <a href="?page={{ projectobj.previous_page_number }}&module_p={{ module_p }}&kw={{kw}}"> << </a>
        {% endif %}
        <span class="current">
            第 {{ projectobj.number }} 页,共 {{ projectobj.paginator.num_pages }}页
        </span>
        {% if projectobj.has_next %}
            <a href="?page={{ projectobj.next_page_number }}&&module_p={{ module_p }}&kw={{kw}}"> >> </a>
        {% endif %}
    </span>
    </div>
	<!-- Modal -->
	{% include "addmodule.html" %}
	
{% endblock %}
{% block js%}
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/Chart.min.js?v=20150129"></script>
	<script type="text/javascript" src="/static/js/chartline.js?v=20150129"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		// 实现下拉、收起，并动态生成表格，异步展示数据
		var id=0;
		$(".flip").click(function(){
		    if ($(".panel").length != id){
				id++;
			}
			$(this).toggleClass("drapdown");
			pid = $(this).attr("value");
			var panel = $(this).parent().parent().next(".panel");
			if(panel.length == 0){
				$(this).parent().parent().after("<tr class='panel'><td colspan=5 id='"+id+"'></td></tr>");
				var url = "/sflip/" + pid;
				$.get(url, function(data, status){
					var datalist = eval ("(" + data + ")");
					var num = datalist.length;
					for(var i=0;i<num;i++){
						$("#"+id).append("<div><div style='float:left;width:500px;'><p>"+datalist[i].item+":"+"</p><p>"+datalist[i].num+"</p></div><div style='float:right;width:600px;'><div style='width:60%;'><canvas id='canvas"+id+i+"' name='canvas' height='2' width='3'></canvas></div></div>");
					}				
				});				
				setTimeout(500);
				show_graph(pid,id);			
			}
			else{
				panel.toggle();
				}
			});
		// 全选和取消全选
		$("#chk_all").click(function(){
			if(typeof($("#chk_all").attr("checked"))=="undefined")
				$("input[name='chk_list']").removeAttr("checked");
			else
				$("input[name='chk_list']").attr("checked",$(this).attr("checked"));
		});
		// 批量操作，批量添加模块
		$("#bulk_add").click(function(){
			var arrChk=$("input[name='chk_list']:checked");
			var value = '';
			$(arrChk).each(function(){
				value=this.value + "," + value;
			});
			if (value) {
				$("#bulk_sid").val(value);
				$("#addmodule").modal('show')
			}			
			else{
				alert("请勾选项目后再进行批量操作！");
			}				
		});		
	});

	function s_operate(id){
        $('#bulk_sid').val(id);
        $('#addmodule').modal('show');
      }

	</script>
{% endblock%}

