<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="css/nopermitsourcemaind.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">


<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/nopermitsource.js"></script>
<script type="text/javascript" src="jquery/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="js/source.js"></script>



</head>

<body>




<div class="top">
		<ul class="top_logo">
			<li><a href=""> </a></li>
		</ul>
		<ul class="top_memu">
			<li><a href="">个人主页</a></li>
			<li><a href="">项目管理</a></li>
			<li><a href="">资源管理</a></li>
		</ul>
		<ul class="top_bar">
			<li><a href="">name</a></li>
			<li><i> | </i></li>
			<li><a href="">退出</a></li>
		</ul>
	</div>  

<div class="body">



	
	
	<div class="choose">
		<select class="section" >
		    <option value="测试">测试</option>
            <option value="客户端">客户端</option>
            <option value="网站前端">网站前端</option>
            <option value="网站后端">网站后端</option>
		</select>
		
		<button type="button" class="btn-section">新建部门</button>
		<button type="button" class="btn-edit" >编辑</button>
	</div>
	
	<div class="people">
	
		<div class="s1">
		<select class="section1" id="sec1" onfocus="this.blur()" >
		    <option value="请选择">请选择</option>
		    <option value="李燕">李燕</option>
            <option value="图图">图图</option>
            <option value="璐璐">璐璐</option>
            <option value="李稳">李稳</option>
			
		</select>		
		<button type="button" class="addsub" id="add1" disabled="disabled"> </button>
		<button type="button" class="minsub" id="min1" disabled="disabled"> </button>
		<button type="button" class="delsub" id="del1" disabled="disabled"> </button>
		</div>
		
		
		<div class="s2">
		
		<select class="section2" id="sec2" onfocus="this.blur()">
		    <option value="请选择">请选择</option>
		    <option value="李燕">李燕</option>
            <option value="图图">图图</option>
            <option value="璐璐">璐璐</option>
            <option value="李稳">李稳</option>
			
		</select>	
		
		<button type="button" class="addsub" id="add2" disabled="disabled"> </button>
		<button type="button" class="minsub" id="min2" disabled="disabled"> </button>
		<button type="button" class="delsub" id="del2" disabled="disabled"> </button>
		 </div>
		
		<div class="s3">
		<select class="section3" id="sec3" onfocus="this.blur()">
		    <option value="请选择">请选择</option>
		    <option value="李燕">李燕</option>
            <option value="图图">图图</option>
            <option value="璐璐">璐璐</option>
            <option value="李稳">李稳</option>
			
		</select>		
		<button type="button" class="addsub" id="add3" disabled="disabled" > </button>
		<button type="button" class="minsub" id="min3" disabled="disabled"> </button>
		<button type="button" class="delsub"  id="del3" disabled="disabled"> </button>
		
		</div>
		
	</div>
    	
	
	

	
</div>

</body>
</html>
