body {
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	font-size: 14px;
	font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pic {
	display: inline-block;
	background-image: url("/static/img/q_picture.png");
}

.top li {
	display: inline-block;
	list-style: none;
}

.top ul {
	display: inline-block;
	margin: -5px;
	padding-left: 0;
}

body {
	background: url(/static/img/top.jpg) repeat-x;
}

p,a {
	text-decoration: none;
}

.top {
	margin: auto;
	width: 1100px;
	height: 86px;
}

.top_logo {
	float: left;
	padding-left: 40px;
	width: 300px;
	height: 86px;
	background-position: -0px -52px;
}

.top_memu {
	float: left;
}

.top_memu li {
	float: left;
	margin-top: 5px;
	margin-left: 40px;
	padding-right: 80px;
	line-height: 85px;
}

.top_memu a {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.mesage_right {
	margin-left: 5px;
	color: #ffa03e;
	font-style: normal;
	font-size: 17px;
}

.top_memu a:active {
	color: #396;
}

.top_memu a:hover {
	color: #396;
	text-decoration: none;
}

.top_memu a.selected {
	color: #396;
}

.top_bar {
	float: right;
	padding-right: 18px;
}

.top_bar li {
	float: left;
	margin-top: 5px;
	color: #fff;
	line-height: 85px;
}
