
body{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
}

       .pic {background-image: url("/static/img/q_picture.png"); display: inline-block;}
       .top li{ 
	    	list-style: none;
	    	display: inline-block;

	    }
	    .top ul{
	    	padding-left: 0;
	    	margin: -5px;
	    	display: inline-block;
	    }
	    body{
	    	/*background-position: -155px -0px; width: 3px; height: 87px;*/
	    	background: url(/static/img/top.jpg) repeat-x;

	    }
	    p,a{
	    	text-decoration: none;
	    }
    	.top{
	    	width: 1100px;
	    	height: 86px;
	    	margin: auto;
	    }
	    .top_logo{
	    	float: left;
	    	/*background: url(/static/img/logo.jpg) no-repeat;*/
	    	background-position: -0px -55px; 
	      	height: 86px;
	    	width: 300px;
	    	padding-left: 40px;
	    }
	    .top_memu{
	    	float: left;
	    }
	    .top_memu li{
	    	float: left;
	    	line-height: 85px;
	    	padding-right: 80px;
	    	margin-left:40px;
            margin-top: 5px;

	    }
	    .top_memu a{
	    	color: #fff;
	    	font-size: 18px;
	    	font-weight:bold;

	    }
	    .mesage_right{
    		color: #ffa03e;
    		font-style: normal;
    		margin-left: 5px;
    		font-size: 17px;

	    }

	    .top_memu a:active{
	    	color: #339966
	    }
	    .top_memu a:hover{
	    	text-decoration: none;
	    	color: #339966;
	    }
	    .top_memu a.selected{
	    	color: #339966
	    }
	   
	    .top_bar{
	    	float: right;
	    	padding-right: 18px;
	    }
	    .top_bar li {
	    	float: left;
	    	line-height: 85px;
	    	color: #fff;
	    	margin-top: 5px;
	    }

        .notify-icon {
           text-decoration: none;
           /*background: url(/static/img/notify-icon.png) no-repeat scroll center 4px rgba(0, 0, 0, 0);*/
           background-position:-238px -6px; width: 15px;
}
        .notify-icon:hover{
           text-decoration: none;
           color:#3b3b3b;
           background-position:-238px -32px; width: 15px;
}
        .notify-icon:visited{
           text-decoration: none;
           }
        .notify-icon:active{
           text-decoration: none;
           }
         .notify-icon:link{
           text-decoration: none;
           }

		.nav-link {
    	   border: 1px solid #3b3b3b;
           display: block;
           height: 18px;
           line-height: 16px;
           margin-top: 37px;
           padding: 0 12px;
		   position:absolute;
    }
		.notify-tip{
			position:absolute;
			display:block;
			margin-top: 40px;
			width:32px;
			height:11px;
			float:left;
			margin-left:28px;
			line-height:11px;
			text-align:center;
			font-size:10px;
			color:#FFF;
			text-indent:4px;
			background-position: -175px -20px; width: 32px; height: 11px;
		}
	    .top_bar a{
	    	color: #fff;
	    	font-size: 18px;
	    }

	    .basefooter {
	    	margin: 20px 0 20px;
            text-align: center;
	    }
	    .username{
	    	display: inline-block;
	        overflow: hidden;
	    	text-overflow: ellipsis;
	    	white-space: nowrap;
	    	width: 100px;
	    	text-align:right;
	    }


	    form[name='form1'] {
	    	margin-bottom: 0px;
	    }
	   /*设计变更、延期弹框样式*/
	   .icon-calendar {
  background: url("http://stat1.ablesky.cn/stata/images/livecourse/lcourse.png") no-repeat scroll 0 -37px transparent;
  margin-top: 0;
}  
.item-title {
    display:inline;  
    line-height:40px;
    float:right;
}
.input-append.date .add-on i {
  height: 20px;
  width: 20px;
}

.input-append .add-on, .input-prepend .add-on {
    background-color: #FFFFFF;
}
.mybtn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#339966;*background-color:#51a351;background-image:linear-gradient(to bottom,#62c462,#51a351);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));background-image:-webkit-linear-gradient(top,#62c462,#51a351);background-image:-o-linear-gradient(top,#62c462,#51a351);background-image:linear-gradient(to bottom,#62c462,#51a351);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.mybtn-success:hover,.mybtn-success:focus,.mybtn-success:active,.mybtn-success.active,.mybtn-success.disabled,.mybtn-success[disabled]{color:#fff;background-color:#51a351;*background-color:#499249}.mybtn-success:active,.mybtn-success.active{background-color:#408140 \9}
.mymodal-header{
	padding:3px 15px;
	border-bottom:1px solid #eee;
	background-color: #339966;
}
.mymodal-header .close{margin-top:2px}.mymodal-header h3{margin:0;line-height:30px}
myinput{
	display:inline-block;
	margin-bottom:0;
	width: auto;
}