       .top li{ 
	    	list-style: none;
	    	display: inline-block;

	    }
	    .top ul{
	    	padding-left: 0;
	    	margin: -5px;
	    	display: inline-block;
	    }
	    body{
	    	background: url(/static/img/top.jpg) repeat-x;

	    }
	    p,a{
	    	font-size: 12px;
	    	text-decoration: none;
	    }
    	.top{
	    	width: 1100px;
	    	height: 86px;
	    	margin: auto;
	    }
	    .top_logo{
	    	float: left;
	    	background: url(/static/img/logo.jpg) no-repeat;
	    	height: 86px;
	    	width: 300px;
	    	padding-left: 40px;

	    }
	    .top_memu{
	    	float: left;
	    }
	    .top_memu li{
	    	float: left;
	    	line-height: 85px;
	    	padding-right: 100px;
	    	margin-left: 50px;
            margin-top: 5px;

	    }
	    .top_memu a{
	    	color: #fff;	    	
	    	font-size: 18px;
	    	font-family: Verdana,​Microsoft YaHei,​宋体;
	    	font-weight:bold;

	    }
	    .top_memu a:active{
	    	color: #339966
	    }
	    .top_memu a:hover{
	    	text-decoration: none;
	    	color: #339966;
	    }
	   
	    .top_bar{
	    	float: right;
	    	padding-right: 28px;
	    }
	    .top_bar li {
	    	float: right;
	    	line-height: 85px;
	    	color: #fff;
	    	margin-top: 5px;
	    }
	    .top_bar a{
	    	color: #fff;
	    	font-size: 18px;
	    }