#container {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
body {
	font-family: "Microsoft YaHei",arial,宋体;
    padding: 0;
    font-size: 14px;
    margin-top: 0px;
}

table {
	width: 100%;
}
tr {
	height: 40px;
}

a {
	text-decoration: none;
	color: #09f;
}
a:hover {
    color: #FF3300;
} 
#bread {
	height: 36px;
	width: 100%;
	background-color: #339966;
	border-radius: 2px;
}
#bread p {
	padding: 16px;
	line-height: 5px;
}
#bread a {
	text-decoration: none;
	color: white;
}
#bread a:hover {
	color: #333333;
}
.content #name div{
	display: inline-block;
	position: relative;
	margin: 0px 0 -5px 30px;
}
.line-name {
	width: 14%;
	list-style: none;
	text-align: right;
	color: #555;

}
.line-text {
	width:36%;
	padding: 0 0 0 20px;
	font-size: 16px;
	list-style: none;
	text-align: left;
}
.line-name2 {
	width: 7%;
	list-style: none;
	text-align: right;
	color: #555;

}
.line-text2 {
	width:93%;
	padding: 0 0 0 20px;
	font-size: 16px;
	list-style: none;
	text-align: left;
}
span {
	display: inline-block;
}
#well {
	color: red;
	font-size: 20px;
}
#notwell {
	color: blue;
	font-size: 20px;
}
.feed-background {
	width: 100%;
	background: none repeat scroll 0 0 #f4f4f4;
}

.f-form div{
	width: 100%;
	margin: -100px, 0, -5px, 0;
}
.message-area {
	border-color: -moz-use-text-color #ddd #ddd;
    border: 1px solid #ddd;
	border-style: solid;
    border-width: 1px 1px 1px;
    margin-top: 20px;
}
.message-area li .date {
	color: #aaa;
    margin-left: 5px;
    margin-right: 5px;
}
.message-total {
	border-bottom: 1px solid #ddd;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 100px;
}
.emptyText {
	color: #555;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.item-message {
	border-bottom: 1px dotted #b4b4b4;
    padding-bottom: 15px;
    padding-top: 20px;
    position: relative;
    padding-left: 120px;
}
.item-feedback{
	padding-bottom: 25px;
}
.fc-form div{
	width: 50%;
}
.item-comment{
	margin-top: -10px;
}
.reply-pup {
	margin-top: -35px;
	margin-left: -100px;
}
.action-btn {
    margin: -10px 5px 0 0;
    width: 98%;
    float: right;
    position: relative;
}
.cancle-reply {
	padding-left: 10px;
}
.item-reply {
	padding-left: 50px;
	padding-bottom: 5px;
}
ul {
	list-style: outside none none;
}

