#container {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
body {
	font-family: "Microsoft YaHei",arial,宋体;
    padding: 0;
    font-size: 14px;
    margin-top: 0px;
}

table {
	width: 100%;
	empty-cells: show;
}
tr {
	height: 40px;
}
a {
	text-decoration: none;
	color: #09f;
}
a:hover {
    color: #FF3300;
} 
#bread {
	height: 36px;
	width: 100%;
	background-color: #339966;
	border-radius: 2px;
}
#bread p {
	padding: 16px;
	line-height: 5px;
}
#bread a {
	text-decoration: none;
	color: white;
}
#bread a:hover {
	color: #333333;
}
.content #name div{
	display: inline-block;
	position: relative;
	margin: 0px 0 -5px 30px;
}
.line-name {
	width: 13%;
	list-style: none;
	text-align: right;
	color: #555;

}
.line-text {
	width:37%;
	padding: 0 0 0 20px;
	font-size: 16px;
	list-style: none;
	text-align: left;
}
span {
	display: inline-block;
}
#well {
	color: red;
	font-size: 20px;
}
#notwell {
	color: blue;
	font-size: 20px;
}