li{ 
        list-style: none;
        display: inline-block;

      }
      ul{
        padding-left: 0;
        margin: 0px;
        display: inline-block;
      }
      
      p,a{
        font-size: 12px;
        text-decoration: none;
      }      
                  
    .notice{
      height:120px;
      width:100%;
      margin:auto;
      border:#ff9933 solid thin;            
      background-color:#ffffdd;
      position:relative;
      margin-top:18px;
    }
    .notice_title{
      float:left;
      height:15px;
      width:120px;
      color:#339966;
      zoom:1;
    }
        .notice_content{
          float:left;
          height:120px;
          width:500px;
          color:#003366;
        }
    #x-table{
      width:1100px;
      margin:auto;                  
      background-color:#ffffff;
    }
    #x-table2{
      width:1100px;
      margin:auto;
      border:#ddd solid thin;           
      background-color:#ffffff;}

    #customers{
      font-family:"Trebuchet MS", Arial, 12px;
      width:100%;
      margin:auto;
      padding-bottom: 30px;
      border-collapse:collapse;
        table-layout:fixed;}
      #customers td, #customers th{
        font-size:12px;
        border:1px solid #ddd;
        padding:3px 7px 2px 7px;
        width:100%;
        word-break:keep-all;
            white-space:nowrap;    
            overflow: hidden;
            text-overflow: ellipsis;
           
        }
      #customers th{
        background-image: url(../img/list.png);
            height: 20px;
            text-align:center;
        }
        #customers th tr{
        font-size:1.1em;
        text-align:center;
        padding-top:5px;
        padding-bottom:4px;
        color:#ffffff;
        background-color:#000

      }
      #customers a:link{
        color: #000;
        text-decoration: none;
      }
      #customers a:hover{
        color: #0099ff
      }