       li{ 
	    	list-style: none;
	    	display: inline-block;

	    }
	    ul{
	    	padding-left: 0;
	    	margin: 0px;
	    	display: inline-block;
	    }
	    body{
	    	background: url(../img/top.jpg) repeat-x;

	    }
	    /*.p,a{
	    	font-size: 12px;
	    	text-decoration: none;
	    }*/
	   
	    .breadcrumb > li {
    		text-shadow: none;

	    }
	    
	    .breadcrumb > li > .divider {
    		font-size: 14px;
    		color: white;
	    }
	    
	   .breadcrumb {
  			padding: 8px 15px;
  			margin-top: 15px ;
  			list-style: none;
  			border-radius: 4px;
  			background-color: #339966;
            width: 100%;
}

.breadcrumb > .active {
    color: black;
}

.back{
  color: black;
  float: right;
  margin-right: 5px;
}

	    .states_yes {
         color:green; 
	    }

        .states_no {
         color:red; 
	    }

	    .table-striped{
				text-align:center;
				width:100%;
				margin:0 auto;
			}
		.table-striped-list{
				text-align:center;
				width:100%;
				margin:0 auto;
			}
		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{background-color:#f8f3ca;}
		.table-striped-list > tbody > tr:nth-child(2n+1) > td, .table-striped-list > tbody > tr:nth-child(2n+1) > th{background-color:#f8f3ca;}
		/*.table-striped-list > tbody > tr:nth-child(4n+3) > td, .table-striped-list > tbody > tr:nth-child(4n+3) > th{background-color:#ffffdd;}*/
		/*.table-striped-list > tbody > tr:nth-child(2n+2) > td, .table-striped-list > tbody > tr:nth-child(2n+2) > th{background-color:#ffffdd;}*/

		.low1 {
				 background-color:#f8f3ca;
		 }
		.low2 { 
				background-color:#ffffdd; 
		}
		.col1{
			text-align:left;
			line-height: normal;
		}
		.thead_th{
		text-align:center;
		background-color:#e1dddd;	
		}
		.body_all{
			width: 1100px;
  			margin-left: auto;
  			margin-right: auto;
 			font-family: 'Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif;
		}
		a.one:link {
			color:black;}
		a.one:visited {
			color:black;
			font-size: 13px;
		}
		a.one:hover {
			color:#76d5d8;
		}
		.active{
			color:black;
		}
		.head_1 {
			font-weight:bold;
			text-indent:
		}
		.botton_yes{

		}
		.checkbox{
			margin: 0px;
		}
		.flip{
			background-image: url("/static/img/dropdown.png");
			background-position: 0px 0px;
			background-repeat: no-repeat;
			display: inline-block;
			height: 11px;
			width: 12px;
		}
		.drapdown{
			background-image: url("/static/img/dropdown.png");
			background-position: 0px -11px;
			background-repeat: no-repeat;
			display: inline-block;
			height: 11px;
			width: 12px;
		}

.sbox{
  width:48%;
  border:#339966 solid thin;
  float:left;
  margin-right:15px;
  margin-top:10px;
}

.sboxtitle{
  /*color:#51a351;*/
  background-color: #ddd;
  font-size:16px;
  font-weight:bold;
  text-align: center;
  line-height:40px;
}

.canremove{
  background-color:#edf7f1 !important;
}

.row{
  background-color: #ffd;
}

.panel{
	background-color: #edf7f1;
}
	