 
body{
	width: 1100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body div{margin:0 auto;}
 .icon-calendar {
  background: url("http://stat1.ablesky.cn/stata/images/livecourse/lcourse.png") no-repeat scroll 0 -37px transparent;
  margin-top: 0;
}  

.title{
  font-size: 20px;
  font-weight: bold;
}

.breadcrumb > li {
    text-shadow: none;
}

.breadcrumb {
    background-color: #339966;
    margin-top: 0px;
    width: 100%;
}

.breadcrumb > li > .divider {
    font-size: 14px;
    color: white;
}

.breadcrumb > .active {
    color: black;
}

.back{
  color: black;
  float: right;
  margin-right: 5px;
}
.all {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.must{
  color: red;
}

.input-append.date .add-on i {
  height: 20px;
  width: 20px;
}

.input-append .add-on, .input-prepend .add-on {
    background-color: #FFFFFF;
}

.range .word{
  margin-left: 10px;
  margin-right: 5px;
}

.role-item {
    background-color: #CAE3FF;
    border: 1px solid #8EBCEF;
    cursor: auto;
    padding-right: 20px;
    margin: 2px 5px;
    display: inline;
    float:left;
}

.role-item span{
  margin-left: 5px;
}

.username{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:60px;
}

.p-list{
  border-style: solid;
  border-radius: 2px; 
  border-width: 1px;
  border-color:#DDDDDD;
  height:50px;
  width:480px;
  margin-left: 0;
}


.roles .btn-success{
  margin: 7px 5px;
}

.role-item > input{
  margin-left: 2px;
  vertical-align: baseline;
}
.role-item .close{
  font-size: 15px;
  position: absolute;
}

.wh {
  background-color: white;
  }

#short {
  margin-left: 20px;
}
#short div{
height:45px;
overflow:hidden;
position:relative;
}

#filepath div{
  height:50px;
  width:762px;
  margin-left: -2px;
}

#filepath div div{
  display: inline-block;
  width: 110px;
}

.inputfield {
   float:right;
   margin-right: 140px;
}

#short .dateinput, #long .dateinput{
  background-color:white;
  width:176px;
  border-right: medium none;
}

.title{
  display:inline-block; 
  width:110px

}

.item-title {
    display:inline;  
    line-height:40px;
    float:right;
}

#long label, #filepath label{
  display: inline;
}

#filepath input{
  width:610px;
  float: right;
}

.list li{list-style-type:none}

.table-list {
    float:left;
    margin-left: 20px;
}

.table-list span{
    line-height:40px;
}

.table-list input{
    vertical-align:middle;
    height:14px;
    margin-top:-1px;
    margin-right:2px;
}

#psearch{
  margin: 0 0 10px 10px;
}