 li{ 
	    	list-style: none;
	    	display: inline-block;

	    }
	    ul{
	    	padding-left: 0;
	    	margin: 0px;
	    	display: inline-block;
	    }
	    body{
	    	background: url(../img/top.jpg) repeat-x;

	    }
	    p,a{
	    	font-size: 14px;
	    	text-decoration: none;
	    }
	    .top{
	    	width: 1100px;
	    	height: 86px;
	    	margin: auto;
	    }
	    .top_logo{
	    	float: left;
	    	background: url(../img/logo.jpg) no-repeat;
	    	height: 86px;
	    	width: 300px;
	    	padding-left: 40px;

	    }
	    .top_memu{
	    	float: left;
	    }
	    .top_memu li{
	    	float: left;
	    	line-height: 85px;
	    	padding-right: 113px;
	    }
	    .top_memu a{
	    	color: #fff;	    	
	    	font-size: 18px;
	    	font-family: Verdana,?Microsoft YaHei,?����;
	    	font-weight:bold;

	    }
	    .top_memu a:active{
	    	color: #339966
	    }
	    .top_memu a:hover{
	    	text-decoration: none;
	    	color: #339966;
	    }
	   
	    .top_bar{
	    	float: right;
	    	padding-right: 28px;

	    }
	    .top_bar li {
	    	float: right;
	    	line-height: 85px;
	    	color: #fff;
	    }
	    .top_bar a{
	    	color: #fff;
	    	font-size: 18px;
	    }
.selfbody{font-family:"΢���ź�";width:1100px;margin-left:auto;margin-right:auto;margin-top:100px}
.choose{background-color:#FFFFFF;width:1100px;height:130px;margin-left:auto;margin-right:auto;}
.section{width:150px;height:30px;margin-left:0px;float:left}
.btn-section{background-color:#29a65d;width:100px;height:30px;float:left;margin-left:20px;border:0px}
.btn-edit{background-color:#29a65d;width:100px;height:30px;float:left;margin-left:600px;border:0px}

.people{background-color:#f7f7f7;width:1100px;height:auto;padding-left:20px;padding-right:20px;border:5px;padding-top:20px;float:left}

.section1{width:810px;height:30px;float: left}
.section2{width:780px;height:30px;float: left;margin-left:30px;}
.section3{width:750px;height:30px;float: left;margin-left:60px;}
.addsub{
background:url(../img/addsub.png) no-repeat;
height: 30px;
width: 30px;
border:0px;
cursor:pointer;
float:left;
padding-left:20px;
}
.minsub{
background:url(../img/minsub.png) no-repeat;
height: 30px;
width: 30px;
border:0px;
cursor:pointer;
float:left;
padding-left:20px;
}
.delsub{
background:url(../img/delsub.png) no-repeat;
height: 30px;
width: 30px;
border:0px;
cursor:pointer;
float:left;
padding-left:20px;
}


.image{

height: 30px;
width: 30px;
border:0px;
cursor:pointer;
float:left;

}