/*projectlist页面css*/
#mybody{
  width: 1500px;
}
    
    .notice{
      height:150px;
      width:100%;
      margin:auto;
      border:#ff9933 solid thin;            
      background-color:#ffffdd;
      position:relative;
      margin-top:18px;
    }
    .notice_123{
      height:120px;
      padding-left:10px; 
      padding-top:10px;
      width:99%;
    }
    .notice_4{
      height:140px;
      padding-left:10px; 
      padding-top:10px;
      width:99%;
    }
    .notice_excess{
      height:150px;
      padding-left:10px; 
      padding-top:10px;
      width:99%
    }
    .notice_title{
      float:left;
      height:15px;
      width:120px;
      color:#339966;
      zoom:1;
    }
    .notice_content{
      float:left;
      height:120px;
      width:800px;
      color:#003366;
    }
    .nitice_content_c{
      text-overflow:ellipsis;
      display:inline-block;
      overflow: hidden;
      white-space: nowrap;
      width:800px;
      line-height:15px;
      margin:0;
      padding:0;
    }
    .notice_content_excess{
      position:absolute;
      right:10px;
      height:30px;
      bottom:0
    }
    .notice_content_less{
      height:25px;
      padding-left:10px;
      padding-top:10px;
      width:99%
    }
    #x-table{
      width:1100px;
      margin:auto;                  
      background-color:#ffffff;
    }
    #x-table2{
      width:1500px;
      margin:auto;
      border:#ddd solid thin;
      background-color:#ffffff;}
    
    .block-option{width:1400px;height:140px;margin-bottom:-40px;margin-left: 0px;}
    
    #customers{
      width:100%;
      margin:auto;
      padding-bottom: 30px;
      border-collapse:collapse;
        table-layout:fixed;}
      #customers td, #customers th{
        border:1px solid #ddd;
        padding:3px 7px 2px 7px;
        width:100%;
        word-break:keep-all;
            white-space:nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
           
        }
      #customers th{
        background-image: url(/static/img/list.png);
            width: 30px;
            text-align:center;
        }
      #customers td{
        line-height: 30px;
        }
    .option-item{
    width:230px;
    margin-top:15px;
    margin-bottom:-35px;
    height:60px;
    float:left;
    }
    .option-item-right{
    width:920px;
    margin-top:15px;
    margin-bottom:-25px;
    height:60px;
    float:left;
    }
    .option-item-middle{
    width:228px;
    margin-top:15px;
    height:35px;
    float:left;
    }
    .option-item-right-short{
    width:520px;
    margin-top:5px;
    height:60px;
    float:left;
    }
    .option-left{width:225px;height:120px;float:left;margin-left:1px;}
    .option-right{width:700px;height:120px;float:left;margin-left:5px;}
    .btn-success {
      background-color: #5BB75B;
      background-image: linear-gradient(to bottom, #62C462, #51A351);
      background-repeat: repeat-x;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      color: #FFFFFF;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
       
    .title1 {display:inline-block; 
        width:110px;}
    .form-control{
        width:150px;

    }
body{
	width: 1100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body div{margin:0 auto;}
 .icon-calendar {
  background-image: url("http://stat1.ablesky.cn/stata/images/livecourse/lcourse.png") no-repeat scroll 0 -37px transparent;
  margin-top: 0;
}

.title{
  font-size: 20px;
  font-weight: bold;

  display:inline-block;
  width:50px

}
.start_date_s{
  background-color:#FFFFFF;
  width:118px;
  border-right: medium none;
}
.end_date_s{
  background-color:#FFFFFF;
  width:118px;
  border-right: medium none;
}
.pro-proname{
    width:146px;
    float:left;
    overflow:hidden;
    text-overflow: ellipsis;
}
.copypro{
  background-position: -145px -20px;
  /*background-image: url('../img/copypro.png');*/
  display: inline-block;
  margin-top:2px;
  height: 12px;
  vertical-align: text-top;
  width: 11px;
}






























