.top
    {
        background: url(/static/img/top.jpg) repeat-x;
        height: 86px;
        width:100%;
        margin: auto;
    }
    .top_logo
    {
        background: url(/static/img/logo.jpg) no-repeat;
        height: 86px;
        width: 320px;
        padding-left: 400px;
    }
    .backgroud
    {
        background: url(/static/img/backgroud.jpg) no-repeat;
        height: 100%;
        width: 100%;
    }
    .backgroud_white
    {
        background-color: #FFFFFF;
        height: 400px; 
        width: 700px; 
        margin-top: 65px;
    }
    .table
    {
        height: 34px;
        width: 264px;
        font_size:5;  
    }
    #Text_nameid
    {
        height: 29px;
        width: 266px;
        font-family: Verdana,Microsoft YaHei ,宋体;
    }
    #Text_name
    {
        height: 29px;
        width: 266px;
        font-family: Verdana,Microsoft YaHei ,宋体;
    }
    #Text_password
    {
        height: 29px;
        width: 266px;
        font-family: Verdana,Microsoft YaHei ,宋体;
    }
    #Text_confirmpassword
    {
        height: 29px;
        width: 266px;
        font-family: Verdana,Microsoft YaHei ,宋体;
    }
    #Select_part
    {
        width: 266px;
        height: 32px;
        font-family: Verdana,Microsoft YaHei ,宋体;
    }
    #Button_register
    {
        border-style: none;
        border-color: inherit;
        border-width: 0;
        height: 39px;
        width: 98px;
        background-color:Green;
        font-family: Verdana,Microsoft YaHei ,宋体;
        font-size: 14px;
        text-shadow: 0 1px 1px #1F8CE3;
    }