<!-- Modal addprocate-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="test" class="navbar-form navbar-center" method='post' action="/case/add_procate/" id="test">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">新建产品模块</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
			<div class="row-fluid" style='text-align: center'>
				<input id="procate_id" name="procate_id" type="hidden">
				<input id="procate_level" name="procate_level" type="hidden">
				<input id="procate_title" name="procate_title" style='width:380px;'></input>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <div align="center">
          <button id='procate_btn' type="button" class="btn mybtn-success" onclick="chk()">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!-- Modal editprocate-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="test1" class="navbar-form navbar-center" method='post' action="/case/edit_procate/" id="test1">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">编辑产品模块</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
			<div class="row-fluid" style='text-align: center'>
				<input id="procate_id1" name="procate_id1" type="hidden">
				<input id="procate_title1" name="procate_title1" style='width:380px;'></input>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <div align="center">
          <button id='procate_btn1' type="button" class="btn mybtn-success" onclick="chk1()">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- Modal deleteprocate-->
<div class="modal fade" id="myModal_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="test_del" class="navbar-form navbar-center" method='post' action="/case/del_procate/" id="test_del">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">删除产品模块</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
			<div class="row-fluid" style='text-align: center'>
				<input id="procate_id_del" name="procate_id_del" type="hidden">
				<label class="item-title"> 确定删除此模块吗？ </label>				
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <div align="center">
          <button id='procate_btn_del' type="button" class="btn mybtn-success" onclick="submit()">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- Modal cant deleteprocate-->
<div class="modal fade" id="myModal_del_no" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="test_del_no" class="navbar-form navbar-center" method='post' action="" id="test_del_no">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">友情提示</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
			<div class="row-fluid" style='text-align: center'>
				<label id='lab_del' class="item-title"></label>				
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <div align="center">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!-- Le javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->  
