
    <!-- Button to trigger modal 
    <a href="#casePullModal" role="button" class="btn" data-toggle="modal" id="pullbutton">引入用例</a>-->
     
    <!-- Modal -->
    <div id="casePullModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="casePullModalLabel" aria-hidden="true">
    	<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    		<h3 id="casePullLabel">引入用例</h3>
    	</div>
    	<div class="modal-body">
    		<div class="cases_selector">
    			<div class="cases_category">
    				<ul class="tree" style="margin-left: 3px;">						
					</ul>
    			</div>
    			<div class="import_right">
    				<div class="search_bar">
    					<div id="combobox-container" class="combobox-container">
							<div class="cc-box">
								<select class="cc-textbox" name="m_id" type="text" name="inputbox" value="" style="width: 170px; cursor: pointer;" readonly="readonly">
									<option value="">请选择模块</option>
									<option value="">嘿，先勾左边分类！</option>
								</select>							
							</div>
							<input style="display:none" id="cate_ids" name="cate_ids"/>
							<input id="search_text" name="key" type="text" autocomplete="off" placeholder="请输入要搜索的用例">
    						<button id="search_button" class="btn btn-success" onclick="search_case()">搜索</button>
						</div>    					
    				</div>
    				<div class="cases_list">
    					<h3>
    						<input id="select_all_btn" type="checkbox">
    						<span id="pop_info_name">用例</span>
    					</h3>
    					<div id="import_list_wrapper" class="dataTables_wrapper" role="grid">
    						<table id="import_list" class="import_list_con dataTable" aria-describedby="import_list_info" style="width:600px"></table>
    						<div id="import_list_paginate">
    							<ul class="pager">
								  <li class="previous">
								    <a href="javascript:void(0)">&larr; 上一页</a>
								  </li>
								  <li class="gotopage">
								  	<span>第&nbsp<input id="pagenum"/>&nbsp页，共&nbsp<span id="totalpage"></span>&nbsp页</span>
								  	<a id="go" value="/case/getcases/?page=">Go!</a>
								  </li>
								  <li class="next">
								    <a href="javascript:void(0)">下一页 &rarr;</a>
								  </li>
								</ul>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="modal-footer">
    		<input style="display:none" id="cases" />
    		<input style="display:none" id="nextcase" />
    		<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    		<button class="btn btn-success" id="import_c">引入</button>
    	</div>
    </div>

