{% extends "case/base.html" %}
{% block title %}case系统{% endblock %}
{% block head %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/css/case_list.css" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
<div class="row-fluid">
  	<div class="span12">
  		这里是搜索那部分
  	</div>
<div class="span12">
  	<div id="tbop"><span id="cnum">共2015条用例</span><buton id="newcase" class="btn btn-success">新建用例</button></div>
    <table id="caselist" class="table table-bordered">
    	<thead>
	      	<tr>
	    		<th style="width:50px;"><input id="caseall" type="checkbox">编号</th>
	    		<th style="width:100px;">前置条件</th>
	    		<th style="width:180px;">输入/动作</th>
	    		<th style="width:180px;">期望输出</th>
	    		<th style="width:40px;">级别</th>
	    		<th style="width:40px;">结果</th>
	    		<th style="width:40px;">BUG</th>
	    		<th style="width:80px;">执行日期</th>
	    		<th style="width:50px;">执行人</th>
	    		<th>备注</th>
	    		<th style="width:100px;">操作</th>
	    	</tr>
        </thead>
        <tbody>
	    	<tr class="cmodule">
	    		<td colspan="11">
	    			<div>
	    				<table >
	    					<tbody>
	    						<tr class="success">
						    		<td colspan="1"><input class="modulecheck" type="checkbox"></td>
						    		<td colspan="9" class="editable">模块一</td>
						    		<td >
						      			<a class="icon-plus-sign"></a>
						      		    <a class="icon-plus"></a>
						      		    <a class="icon-trash"></a>
						    		</td>
	    						</tr>
	    						<tr class="mtr">
						    		<td><input class="casecheck" type="checkbox">1</td>
						      		<td class="editable">总管理员操作</td>
						      		<td class="editable">点击后台导航购买授权</td>
						    		<td class="editable">跳转到购买授权页面，见设计图【购买授权】</td>
						      		<td>2</td>
						      		<td>PASS</td>
						    		<td class="editable">-</td>
						      		<td>2015/01/01</td>
						      		<td>易璐璐</td>
						      		<td class="editable">-</td>
						      		<td>
						      			<a class="icon-plus"></a>
						      			<a class="icon-download-alt"></a>
						      			<a class="icon-eye-open"></a>
						      			<a class="icon-trash"></a>
						      		</td> 
	    						</tr>

	    					</tbody>
	    				</table>
	    			</div>
	    		</td>
	    	</tr>
	    	<tr class="cmodule">
	    		<td colspan="11">
	    			<div>
	    				<table >
	    					<tbody>
	    						<tr class="success">
						    		<td colspan="1"><input class="modulecheck" type="checkbox"></td>
						    		<td colspan="9" class="editable">模块二</td>
						    		<td >
						      			<a class="icon-plus-sign"></a>
						      		    <a class="icon-plus"></a>
						      		    <a class="icon-trash"></a>
						    		</td>
	    						</tr>
	    						<tr class="mtr">
						    		<td><input class="casecheck" type="checkbox">1</td>
						      		<td class="editable">总管理员操作</td>
						      		<td class="editable">点击后台导航购买授权</td>
						    		<td class="editable">跳转到购买授权页面，见设计图【购买授权】</td>
						      		<td>2</td>
						      		<td>PASS</td>
						    		<td class="editable">-</td>
						      		<td>2015/01/01</td>
						      		<td>易璐璐</td>
						      		<td class="editable">-</td>
						      		<td>
						      			<a class="icon-plus"></a>
						      			<a class="icon-download-alt"></a>
						      			<a class="icon-eye-open"></a>
						      			<a class="icon-trash"></a>
						      		</td> 
	    						</tr>
	    						<tr class="mtr">
						    		<td><input class="casecheck" type="checkbox">1</td>
						      		<td class="editable">总管理员操作</td>
						      		<td class="editable">点击后台导航购买授权</td>
						    		<td class="editable">跳转到购买授权页面，见设计图【购买授权】</td>
						      		<td>2</td>
						      		<td>PASS</td>
						    		<td class="editable">-</td>
						      		<td>2015/01/01</td>
						      		<td>易璐璐</td>
						      		<td class="editable">-</td>
						      		<td>
						      			<a class="icon-plus"></a>
						      			<a class="icon-download-alt"></a>
						      			<a class="icon-eye-open"></a>
						      			<a class="icon-trash"></a>
						      		</td> 
	    						</tr>
	    						<tr class="mtr">
						    		<td><input class="casecheck" type="checkbox">1</td>
						      		<td class="editable">总管理员操作</td>
						      		<td class="editable">点击后台导航购买授权</td>
						    		<td class="editable">跳转到购买授权页面，见设计图【购买授权】</td>
						      		<td>2</td>
						      		<td>PASS</td>
						    		<td class="editable">-</td>
						      		<td>2015/01/01</td>
						      		<td>易璐璐</td>
						      		<td class="editable">-</td>
						      		<td>
						      			<a class="icon-plus"></a>
						      			<a class="icon-download-alt"></a>
						      			<a class="icon-eye-open"></a>
						      			<a class="icon-trash"></a>
						      		</td> 
	    						</tr>
	    					</tbody>
	    				</table>
	    			</div>
	    		</td>
	    	</tr>
	    	<tr class="cmodule">
	    		<td colspan="11">
	    			<div>
	    				<table >
	    					<tbody>
	    						<tr class="success">
						    		<td colspan="1"><input class="modulecheck" type="checkbox"></td>
						    		<td colspan="9" class="editable">模块三</td>
						    		<td >
						      		    <a class="icon-plus"></a>
						      			<a class="icon-plus-sign"></a>						      		    
						      		    <a class="icon-trash"></a>
						    		</td>
	    						</tr>
	    						<tr class="mtr">
						    		<td><input class="casecheck" type="checkbox">1</td>
						      		<td class="editable">总管理员操作</td>
						      		<td class="editable">点击后台导航购买授权</td>
						    		<td class="editable">跳转到购买授权页面，见设计图【购买授权】</td>
						      		<td>2</td>
						      		<td>PASS</td>
						    		<td class="editable">-</td>
						      		<td>2015/01/01</td>
						      		<td>易璐璐</td>
						      		<td class="editable">-</td>
						      		<td>
						      			<a class="icon-plus"></a>
						      			<a class="icon-download-alt"></a>
						      			<a class="icon-eye-open"></a>
						      			<a class="icon-trash"></a>
						      		</td> 
	    						</tr>

	    					</tbody>
	    				</table>
	    			</div>
	    		</td>
	    	</tr>


        </tbody>
    </table>
  		
  	</div>
  </div>

{% endblock %}
{% block js %}
    <script type='text/javascript' src="/static/jquery/jquery.dragsort-0.5.2.min.js"></script>
    <script type='text/javascript' src="/static/js/caselist.js?v=2015024"></script>
{% endblock %}