<!-- Modal -->
<div class="mycasemodal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">用例执行结果</h4>
      </div>
      <div class="modal-body">
	      <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12 title"></div>
            <div class="span12">
              <table class="table boxtable">
              </table>
            </div>			  
	        </div>       
        </div>
      </div>
    </div>
	</div>
  <div class="modal-footer">
    <div align="center">
      <button type="button" class="btn mybtn-success" data-dismiss="modal">确定</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    </div>
  </div>
</div><!-- /.modal-content -->

