<!-- Modal -->
<div class="mycasemodal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">导入用例</h4>
      </div>
      <div class="modal-body">
	      <div class="container-fluid">
          <div class="row-fluid">
            <form name='fileload' method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/case/upload/">
              <!-- {{form.as_p}} -->
              <input type='text' name='title'>
              <input type='file' name='upfile'>
              <!-- <input type="file" name="file" /><br/> -->
              <!-- <input type="submit" value="上传文件" /> -->
            </form>
            <div class='reminder'>
            </div>	  
	        </div>       
        </div>
      </div>
    </div>
	</div>
  <div class="modal-footer">
    <div align="center">
      <button type="button" class="btn mybtn-success fileupload" data-dismiss="modal">确定</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    </div>
  </div>
</div><!-- /.modal-content -->

