<script type="text/javascript"> 
$(function() { 
    $('#upload').click(function() { 
        var json_obj = { username: $('#username').val(), password: $('#password').val(), datas: [ { game_id: $('#datas1').val(), level: $('#level1').val() }, { game_id: $('#datas2').val(), level: $('#level2').val() } ] }; //JSON对象   var json_str = JSON.stringify(json_obj); //将JSON对象转变成JSON格式的字符串 
        $.post("/datasave", json_str, callback, "json"); 
    })  
     function callback(json){ $('#response').html('code:'+json['status']['code'] + "\tmessage:" + json['status']['message']);
      }
     }) 
</script>